/* CSS Reset
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* CONTENTS
 *
 * Global
 * Layout
 * Pages
 * Miscellaneous
 * Resizing 
 
 * Brandon Dorn á 2014

 */



/*--- GLOBAL ---*/

/* COLORS
 * faintGrey: #f1f1f1;
 * lightGrey: #eee;
 * grey: #888;
 * mediumGrey:#777;
 * darkGrey: #3f3f3f;
 *
 * faintBlue: #e6f2ff;
*/



html {
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  max-width: 900px;
	padding: 0 20px;
  margin: 0 auto;
  color: #3f3f3f;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow: scroll;
}

h1 {
  font-size: 25pt;
	line-height: 100%;
	margin: 10px 0;
}

h2 {
  font-size: 14pt;
	font-weight: bold;
}

h3 {
  font-size: 10pt;
}

h4 {
  font-size: 10pt;
  color: #959595;
  margin: 2px 0 16px 0;
}

h5 {
}

h6 {
}

p {
  margin: 20px 0;
  text-shadow: none;
  font-size: 14pt;
	line-height: 160%;
  color: #3f3f3f;
}

	p a:link {
		border-bottom: 1px solid firebrick;
	}

sup {
	top: -5px;
	padding: 2px;
	vertical-align: top;
	position: relative;
	font-size: 9pt;
}

	sup a:link,
	sup a:visited,
	.footnotes .returnUp:link,
	.footnotes .returnUp:visited {
		text-decoration: none;
		color: firebrick;
		border-bottom: none;
	}
	
	sup a:hover,
	sup a:active,
	.footnotes .returnUp:hover {
		text-decoration: underline;
	}

ul,
ol {
		list-style-type: none;
}

li {
		display: inline-block;
}

a {
}

	a:link,
	a:visited {
			color: #3f3f3f;
			text-decoration: none;
	}
				
	a:hover,
	a:active {
			color: firebrick;
	}


.footnotes:before,
hr {
  background: url(img/hr.svg) no-repeat;
  height: 8px;
}

blockquote {
	font-style: italic;
	line-height: 1.5;
	max-width: 400px;
	margin: 30px auto;
	border-left: 2px solid #777;
	padding: 4px 16px;
}

	blockquote p {
		margin: 4px 0;
		color: #888;
	}

		blockquote .author {
			text-align: right;
		}


/*--- LAYOUT ---*/

/* GENERAL */

div {
}

article {
	margin: 0 auto;
}
	
	article p {
		font-family: 'Source Serif Pro', Georgia, serif;
	}

header {
	text-align: center;
	margin: 60px 0;
}

	header p {
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		color: #888;
		font-size: 11pt;
		margin: 0;
	}
	
	header .description {
		font-size: 12pt;
		line-height: 130%;
		margin: 50px 0 8px 0;;
	}

.footnotes {
	margin: 60px 0 120px 0;
	color: #bbb;
}
	
	.footnotes > li {
		counter-increment: nodecimal;
		display: block;
	}
	
		.footnotes > li:before {
			content: counter(nodecimal) " ";
			float: left;
			width: 20px;
			margin-top: 4px;
		}
		
		.footnotes:first-child {
			counter-reset: nodecimal;
		}
	
	.footnotes p {
		font-size: 12pt;
		margin: 4px 0;
		color: #777;
	}

/* NAV */

nav {
  margin: 12px auto 30px auto;
	padding-bottom: 10px;
	cursor: default;
	border-bottom: 1px solid #eee;
}

		.logo p {
				display: inline-block;
				margin: 0;
				padding-top: 3px;
				color: #888;
				font-size: 0.8em;
		}
		
			.logo > div {
				height: 24px;
				width: 24px;
				margin-right: 10px;
				float: left;
				background: url('../img/icon_logo.svg') no-repeat 0;
				background-size: 100% 100%;
			}
		
			.logo p span.red::after {
				content:" \00b7";
				color: #888;
			}
		
  nav ul {
		margin: 6px 0 0 0;
		float: right;
		font-size: 0.8em;
  }
		
		nav li {
			float: left;
			margin-left: 10px;
		}
			
			nav li:nth-child(1){
				margin-left: 0;
			}
		
			nav li a {
				padding: 17px 4px 13px 4px;
			}
				
				nav li a:link,
				nav li a:visited {
					color: #777;
				}
			
				nav li a:hover,
				nav li a:active{
					color: firebrick;
				}
				
				nav li a.selected {
					color: firebrick;
					border-bottom: 1px solid firebrick;
				}

  .logo a:link,
	.logo a:visited,
	.logo a:active,
	.logo a:focus {
		background: none;
  }
	
	.logo a:focus,
	.logo a:hover
	.logo a:active {
		cursor: pointer;
	}


/* FOOTER */

footer {
  border-top: 1px solid #e9e9e9;
  margin: 40px auto 0 auto;
  padding: 0 10px;
  color: #959595;
	clear: both;
	text-align: center; 
}

  footer ul li p {
    font-size: 0.8em;
		color: #888;
  }
	
		
/* CONTENT */

.content {
		max-width: 620px;
		margin: 0 auto;
}


/*--- PAGES ---*/

/* HOME */

.intro {
		margin: 20px auto;
		text-align: center;
		padding: 20px 0;
		cursor: default;
}
		
		.intro h1 {
				color: firebrick;
				text-transform: uppercase;
				letter-spacing: 5px;
				font-size: 1.4em;
		}
		
		.introImage {
				background: url('../img/creation_of_adam.png') no-repeat center;
				width: 120px;
				height: 120px;
				margin: 26px auto;
				border-radius: 50%;
				transition: all 400ms ease-in-out;
		}
		
				.introImage:hover{
						box-shadow: 0 0 20px 5px #c0d6ef;
				}
		
		.intro p {
				color: #777;
				font-size: 1em;
				margin: 0.5em 0;
		}
		
		.intro p + p {
			margin-top: -4px;
			color: #888;
			font-size: 0.8em;
		}

.listButtons {
		margin: 10px auto;
		text-align: right;
}

		.listButtons button {
				border: none;
				border-radius: 0;
				background: none;
		}
		
				.listButtons button div {
						width: 19px;
						height: 19px;
						border-radius: 0;
				}
		
				.listButtons .blockView {
						background: url('../img/icon_block_and_list.svg') no-repeat left top;
				}
				
						.listButtons .blockView:hover,
						.listButtons .selected .blockView {
								background: url('../img/icon_block_and_list.svg') no-repeat left bottom;
						}
						
				.listButtons .listView {
						background: url('../img/icon_block_and_list.svg') no-repeat right top;
				}
				
						.listButtons .listView:hover,
						.listButtons .selected .listView {
								background: url('../img/icon_block_and_list.svg') no-repeat right bottom;
						}
				
				.listButtons button:focus {
						outline: none;
				}


.notes {
	margin-bottom: 100px;
}

		.notes.listView {
		}
		
		.notes.listView > li {
				margin: 6px auto;
				padding: 10px 0 36px 0;
				border: 1px solid #fff;
				border-bottom: 1px solid #eee;
		}
		
				.listView > li img,
				.listView > li p {
						display: none;
				}

		.notes > li {
			display: block;
			margin-bottom: 14px;
			cursor: default;
		}
			
			.notes > li a {
				display: block;
				padding: 16px;
				border: 1px solid #eee;
				border-radius: 2px;
			}
			
				.notes > li a:hover{
					border: 1px solid #ccc;
				}
		
			.notes > li img {
				width: 80%;
				height: 60px;
				background: #eee;
				margin: 10px auto;
			}
			
			.notes > li p {
				color: #777;
				margin: 6px 0;
				font-size: 10pt;
			}

			.notes .date {
				margin: 4px 0 0 0;
				color: #888;
				font-size: 9pt;
			}


/* ABOUT */

.aboutPic {
		background: url('../img/about_pic.png') no-repeat center;
		width: 180px;
		height: 270px;
		margin: 20px auto 100px auto;
		cursor: default;
}

	.aboutPic ul {
		bottom: -280px;
		right: -82px;
		position: relative;
	}
	
		.aboutPic ul li {
			width: 24px;
			height: 24px;
			margin-left: 6px;
		}
		
			.aboutPic ul li a {
				display: block;
				width: 24px;
				height: 24px;
				opacity: .7;
			}
			
				.aboutPic ul li a:hover {
					opacity: 1;
					filter: alpha(opacity=100);
				}
			
				.aboutPic ul li.linkedIn a{
					background: url(../img/icon_linkedIn.svg) no-repeat 0 0;
				}
				
					.aboutPic ul li.linkedIn a:hover,
					.aboutPic ul li.linkedIn a:active {
						background: url(../img/icon_linkedIn.svg) no-repeat 0 -26px;
					}
				
				.aboutPic ul li.instagram a{
					background: url(../img/icon_instagram.svg) no-repeat 0 0;						
				}
				
					.aboutPic ul li.instagram a:hover,
					.aboutPic ul li.instagram a:active {
						background: url(../img/icon_instagram.svg) no-repeat 0 -26px;						
					}
				
				.aboutPic ul li.twitter a{
					background: url(../img/icon_twitter.svg) no-repeat 0 0;
				}
				
					.aboutPic ul li.twitter a:hover,
					.aboutPic ul li.twitter a:active {
						background: url(../img/icon_twitter.svg) no-repeat 0 -26px;
					}
	
	article.about > ul {
		clear: both;
	}

/* Projects */
	
#tabs {
	margin-top: 26px;
	margin-left: -48px;
	max-width: 620px;
}

	#tabs > ul {
		vertical-align: top;
		width: 80px;
		float: left;
		margin-top: -8px;
	}
	
		#tabs > ul li {
			width: 64px;
			margin: 4px 0;
			padding: 6px;
			border-radius: 2px;
		}
	
			#tabs > ul li a {
				font-size: 11pt;
				padding: 12px 0;
			}
			
			#tabs > ul li a:link,
			#tabs > ul li a:visited {
				color: #777;
			}
			
			#tabs > ul li a:hover,
			#tabs > ul li a:active {
				color: firebrick;	
			}
			
			#tabs > ul li a:focus {
				background: none;
				outline: none;
			}
			
			#tabs > ul li.ui-state-active {
				background: firebrick;
			}
			
				#tabs > ul li.ui-state-active a {
					color: #fff;
					font-weight: bold;
				}
	
	#tabs > div {
		margin-left: 130px;
	}




/*--- MISCELLANEOUS ---*/

.red {
	color: firebrick;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*--- RESIZING ---*/

@media screen and (max-width: 780px){
	#tabs {
		margin-left: auto;
	}
}

@media screen and (max-width: 600px){
		
		nav {
			padding-bottom: 27px;	
		}
		
		.logo {
			width: 130px;
			display: block;
			margin: 26px auto;
		}
		
			.logo p {
				padding-top: 5px;
			}
		
			.logo p span.red {
				clear: right;
				display: block;
				margin: -9px 0 -6px 0;
			}
		
			.logo p span.red::after {
				content:" ";
			}
			
		nav ul {
			margin: 0 auto;
			width: 268px;
			float: none;
		}
		
		.notes,
		.listButtons {
				width: auto;
		}
		
		.listView h2 {
			margin-bottom: 6px;
		}
		
		#tabs {
			margin-left: 0;
		}
		
			#tabs > ul {
				width: 200px;
				margin: 24px auto 30px auto;
				float: none;
			}
			
				#tabs > ul li {
					display: inline-block;
					text-align: center;
					width: auto;
					padding-bottom: 4px;
					margin: 0 6px 0 0;
				}
				
					#tabs > ul li.ui-state-active {
						border-bottom: 3px solid firebrick;
						border-right: none;
					}
					
					#tabs > ul li a {
						padding: 8px 4px;
					}
			
			#tabs > div {
				margin-left: 0;
			}
		
	footer ul{
		text-align: center;
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     .introImage {
								background: url('../img/creation_of_adam_@2x.png')
								background-size: 120px;
					}
}







