/* CSS Reset
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* CONTENTS
 *
 * Global
 * Layout
 * Pages
 * Miscellaneous
 * Resizing 
 
 * Brandon Dorn á 2014

 */



/*--- GLOBAL ---*/

/* COLORS
 * faintGrey: #f1f1f1;
 * lightGrey: #eee;
 * grey: #888;
 * mediumGrey:#777;
 * darkGrey: #3f3f3f;
 *
 * faintBlue: #e6f2ff;
*/



html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto 140px auto;
  color: #3f3f3f;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow: scroll;
}

h1 {
  font-size: 25pt;
  line-height: 100%;
  margin: 10px 0;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-size: 10pt;
  color: #959595;
  margin: 2px 0 16px 0;
}

h5 {
}

h6 {
}

p {
  margin: 20px 0;
  text-shadow: none;
  font-size: 14pt;
  line-height: 160%;
  color: #3f3f3f;
}

sup {
  top: -5px;
  padding: 2px;
  vertical-align: top;
  position: relative;
  font-size: 9pt;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    color: firebrick;
    border-bottom: none;
  }
	
  sup a:hover,
  sup a:active,
  .footnotes .returnUp:hover {
    text-decoration: underline;
  }

ul {
  list-style-type: none;
}

li {
}

a {
}

  a:link,
  a:visited {
    color: firebrick;
    text-decoration: none;
  }
	
  a:hover,
  a:active {
    border-bottom: 1px solid firebrick;
  }


.footnotes:before,
hr {
  background: url(../img/hr.svg) no-repeat;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 50px auto 30px auto;
}

blockquote {
  font-style: italic;
  color: #777;
  line-height: 1.5;
  max-width: 400px;
  margin: 30px auto;
  border-left: 2px solid #ccc;
  padding: 4px 16px;
}

  blockquote p {
    margin: 4px 0;
    color: #888;
  }

  blockquote .author {
    text-align: right;
  }


/*--- LAYOUT ---*/

/* GENERAL */

div {
}

article {
  margin: 0 auto;
}
	
  article p {
    font-family: 'Source Serif Pro', Georgia, serif;
  }

header {
  text-align: center;
  margin: 60px 0;
}

  header p {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 11pt;
    margin: 0;
  }
	
  header .description {
    font-size: 12pt;
    line-height: 130%;
    margin: 50px 0 8px 0;;
  }

.footnotes {
  margin: 60px 0 120px 0;
  color: #bbb;
}
	
  .footnotes > li {
    counter-increment: nodecimal;
    display: block;
  }
	
  .footnotes > li:before {
    content: counter(nodecimal) " ";
    float: left;
    width: 20px;
    margin-top: 2px;
  }
		
  .footnotes:first-child {
    counter-reset: nodecimal;
  }
	
  .footnotes p {
    font-size: 11pt;
    margin: 4px 0;
    color: #777;
    padding-left: 20px;
    margin-bottom: 10px;
  }

/* NAV */

nav {
  margin: 12px auto 30px auto;
  padding-bottom: 9px;
  cursor: default;
  border-bottom: 1px solid #eee;
}

  .logo p {
    display: inline-block;
    margin: 0;
    padding-top: 3px;
    color: #3f3f3f;
    font-size: 10pt;
    font-weight: bold;
  }
		
    .logo p span {
      color: #888;
      font-weight: normal;
    }
    
      .logo p span::before {
        content:"\00b7";
      }
		
  nav ul {
    margin: 6px 0 0 0;
    float: right;
    display: inline-block;
    font-size: 0.8em;
  }
		
  nav li {
    float: left;
    margin-left: 10px;
  }
			
		nav li:nth-child(1){
				margin-left: 0;
		}
		
		nav li a {
				padding: 17px 4px 13px 4px;
		}
				
    nav li a:link,
    nav li a:visited {
      color: #777;
    }
			
    nav li a:hover,
    nav li a:active,
    nav li a:focus {
      outline: none;
      color: firebrick;
    }
				
    nav li a.selected {
      color: firebrick;
      border-bottom: 1px solid firebrick;
    }
	
  .logo:focus,
  .logo:hover,
  .logo:active {
    cursor: pointer;
    border-bottom: none;
  }


/* FOOTER */

footer {

}
	
		
/* CONTENT */

.content {
  max-width: 620px;
  margin: 0 auto;
}


/*--- PAGES ---*/

/* HOME */

.intro {
  margin: 20px auto;
  text-align: center;
  padding: 20px 0;
  cursor: default;
}
		
  .intro h1 {
    color: firebrick;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4em;
  }
		
  .introImage {
    background: url('../img/creation-of-adam.png') no-repeat center;
    width: 120px;
    height: 120px;
    margin: 26px auto;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
  }
		
    .introImage:hover{
      box-shadow: 0 0 20px 5px #c0d6ef;
    }
		
  .intro p {
    color: #777;
    font-size: 1em;
    margin: 0.5em 0;
  }
		
    .intro p + p {
      margin-top: -4px;
      color: #888;
      font-size: 0.8em;
    }

.notes {
  margin-bottom: 100px;
}

  .notes > li {
    cursor: default;
    display: block;
    margin-bottom: 14px;
  }
			
    .notes > li a {
      display: block;
      padding: 16px;
      border: 1px solid #eee;
      border-radius: 2px;
    }
			
      .notes > li a:hover{
        border: 1px solid #ccc;
      }
		
    .notes > li img {
      width: 80%;
      height: 60px;
      background: #eee;
      margin: 10px auto;
    }
  
    .notes > li p {
      color: #777;
      margin: 6px 0;
      font-size: 10pt;
    }

  .notes .date {
    margin: 4px 0 0 0;
    color: #888;
    font-size: 9pt;
  }


/* ABOUT */

.aboutPic {
  background: url('../img/bd-pic.png') no-repeat center;
  cursor: default;
  height: 382px;
  margin: 20px auto 50px auto;  
  width: 100%;
}

  #process h3 {
    margin-top: 80px;
  }
  
  #process ol {
    list-style: decimal;
    margin-left: 40px;
  }
     
    #process ol p{
      color: #777;
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
      font-size: 12pt;
      line-height: 140%;
    }
  
  #process b {
    color: #3f3f3f;
  }
  
  #process .steps {
    margin: 60px auto;
  }
  
    #process .steps li {
      display: inline-block;
      margin: 0 30px;
      text-align: center;
    }
    
      #process .steps li p {
        color: #777;
        font-family: 'Raleway', Helvetica, Arial, sans-serif;
        font-size: 10pt;
        font-weight: bold;
        text-transform: uppercase;
      }
      
  #process .methods {
    background: #f4f4f4;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
    margin: 30px 0 0 30px;
    padding: 20px;
  }
    
    #process .methods li {
      margin-bottom: 10px;
    }
  
    #process .methods li:nth-child(1) {
      color: #ccc;
      font-weight: bold;
      margin-bottom: 14px;
      text-transform: uppercase;
    }
	
article.about > ul {
  clear: both;
}


	
.about #tabs {
  margin-top: 26px;
  margin-left: -48px;
  max-width: 620px;
}

  .about #tabs > ul {
    vertical-align: top;
    width: 80px;
    float: left;
    margin-top: -4px;
  }
	
  .about #tabs > ul li {
    width: 64px;
    margin: 4px 0;
    padding: 6px;
    border-radius: 2px;
  }

    .about #tabs > ul li:focus {
      outline: none;
      color: firebrick;
    }
	
      .about #tabs > ul li a {
        font-size: 11pt;
        padding: 12px 0;
      }
       
        .about #tabs > ul li a:link,
        .about #tabs > ul li a:visited {
          color: #777;
        }
        
        .about #tabs > ul li a:hover,
        .about #tabs > ul li a:active {
          color: firebrick;
          border-bottom: none;
        }
       
        .about #tabs > ul li a:focus {
          background: none;
          outline: none;
        }
       
      .about #tabs > ul li.ui-state-active {
        background: firebrick;
      }
       
        .about #tabs > ul li.ui-state-active a {
          color: #fff;
          font-weight: bold;
        }
	
  .about #tabs > div {
    margin-left: 130px;
  }




/*--- MISCELLANEOUS ---*/

.red {
  color: firebrick;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*--- RESIZING ---*/

@media screen and (max-width: 780px){
  .about #tabs {
    margin-left: auto;
  }
  
  .about h1 {
    margin: 20px auto 0 17%;
  }
}

@media screen and (max-width: 600px){
		
  nav {
    padding-bottom: 27px;	
  }
		
  .logo {
    width: 130px;
    display: block;
    margin: 26px auto;
  }
		
    .logo p {
      padding-top: 5px;
      text-align: center;
      font-size: 14pt;
    }
		
  .logo p span {
    display: block;
    margin-top: -4px;
    font-size: 10pt;
  }
		
  .logo p span::before {
    content:" ";
  }
  
  nav ul {
    margin: 0 auto;
    width: 258px;
    float: none;
    display: block;
  }
		
  .listView h2 {
    margin-bottom: 6px;
  }
  
  .about h1 {
    margin: 20px auto 0 auto;
  }
  
  .about #tabs {
    margin-left: 0;
  }
		
    .about #tabs > ul {
      float: none;
      margin: 24px auto 30px auto;
      text-align: center;
      width: auto;
    }
			
    .about #tabs > ul li {
      display: inline-block;
      text-align: center;
      width: auto;
      padding-bottom: 4px;
      margin: 0 6px 0 0;
    }
				
      .about #tabs > ul li.ui-state-active {
        border-bottom: 3px solid firebrick;
        border-right: none;
      }
					
      .about #tabs > ul li a {
        padding: 8px 4px;
      }
			
    .about #tabs > div {
      margin-left: 0;
    }
  
  .processSteps li {
    display: block;
    margin-bottom: 30px;
  }
  
    .processSteps li p {
      margin: 4px;
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .introImage {
    background: url('../img/creation-of-adam_@2x.png')
    background-size: 120px;
  }
}







