---
layout: default
title: Reading & Writing
---

<header class="page-intro">
	<p>Sometimes I write, every now and then I give talks, but mostly I read.</p>
</header>

<div class="fav-reads">

	<p class="label-small">Favorites</p>

	<div class="genre-lists">
		<ul class="genre">
			<li class="genre-label">Nonfiction</li>
			<li>Standing by Words <span>by Wendell Berry</span></li>
			<li>Pilgrim at Tinker Creek <span>by Annie Dillard</span></li>
			<li>Essays and Lectures <span>by Ralph Waldo Emerson</span></li>
			<li>The Technological Society <span>by Jacques Ellul</span></li>
			<li>Understanding Context <span>by Peter Hinton</span></li>
			<li>Gödel, Escher, Bach <span>by Douglas Hofstadter</span></li>
			<li>The Gift <span>by Lewis Hyde</span></li>
			<li>How to Do Nothing <span>by Jenny Odell</span></li>
			<li>Apology for Wonder <span>by Sam Keen</span></li>
			<li>Maps of the Imagination <span>by Peter Turchi</span></li>
		</ul>

		<ul class="genre">
			<li class="genre-label">Fiction</li>
			<li>City of Thieves <span>by David Benioff</span></li>
			<li>Jayber Crow <span>by Wendell Berry</span></li>
			<li>Dandelion Wine <span>by Ray Bradbury</span></li>
			<li>The Mystery of Christ <span>by Robert Farrar Capon</span></li>
			<li>Stories of Your Life and Others <span>by Ted Chiang</span></li>
			<li>The Lord of the Flies <span>by William Golding</span></li>
			<li>A Prayer for Owen Meany <span>by John Irving</span></li>
			<li>Till We Have Faces <span>by CS Lewis</span></li>
			<li>Bewilderment <span>by Richard Powers</span></li>
			<li>Gilead <span>by Marilynne Robinson</span></li>
			<li>East of Eden <span>by John Steinbeck</span></li>
			<li>The Silmarillion <span>by J.R.R. Tolkien</span></li>
			<li>Mrs. Dalloway <span>by Virginia Woolf</span></li>
		</ul>

		<ul class="genre">
			<li class="genre-label">Theology</li>
			<li>The Mystery of Christ <span>by Robert Farrar Capon</span></li>
			<li>The Everlasting Man <span>by GK Chesterton</span></li>
			<li>Creative Prayer <span>by Edith Herman</span></li>
			<li>Letters to Malcolm <span>by CS Lewis</span></li>
			<li>The Great Divorce <span>by CS Lewis</span></li>
			<li>New Seeds of Contemplation <span>by Thomas Merton</span></li>
			<li>Christ Plays in 10,000 Places <span>by Eugene Peterson</span></li>
			<li>Reversed Thunder <span>by Eugene Peterson</span></li>
			<li>The Divine Conspiracy <span>by Dallas Willard</span></li>
		</ul>
	</div> <!-- .genre-lists-->
</div> <!-- .fav-reads-->


<div class='writing-list'>
	{% assign writing_list = site.categories.writing %}

	<p class="label-small">Writing & Speaking</p>

		{% for item in writing_list %}
		<a href="{% if item.source_link %} {{ item.source_link }} {% else %} {{ item.url }} {% endif%}">
			<div class="writing-item">
				<div class="preview-content">
					<figure>
						<img src="/img/writing/{{ item.img_folder }}/{{ item.thumb }}" alt="">
					</figure>
					<div class="meta">
						<p class="title"> {{ item.title }} </p>
						<p class="intro"> {{ item.description }} </p>
					</div> 
				</div> <!-- .preview-content -->
				<div class="attribution">
					{% if item.source_name %}<p class="source {% if item.source_link %} external-link {% endif %}">{{ item.source_name }}</p>{% endif %}
					<p> {{ item.date | date: "%b %Y"}} </p>	
				</div>
			</div>
		</a>
		{% endfor %}
</div>