# ----------------------------------------------------------------------
# .htaccess
#
# For removing the HTML extensions from pages with the same name as a directory. See http://stackoverflow.com/questions/2017748/htaccess-proper-rewriting-of-directory-and-file-with-same-name
# ----------------------------------------------------------------------


# Disable Automatic Directory detection
# DirectorySlash Off

# Manually re-route portfolio/ requests to portfolio
RewriteCond %{REQUEST_FILENAME} portfolio/$
RewriteRule ^(.*)/$ $1 

# Hide extension
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html