# ----------------------------------------------------------------------
# .htaccess
#
# For removing the HTML extensions from pages with the same name as a directory. See http://stackoverflow.com/questions/2017748/htaccess-proper-rewriting-of-directory-and-file-with-same-name
# ----------------------------------------------------------------------


# Disable Automatic Directory detection
DirectorySlash Off

# Hide extension
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html