---
layout: page
active: writing
title: Brandon Dorn
description: I’m a writer who thinks in images; I’m a designer who thinks in words. This is where I share some of these thinks. I put them elsewhere too&#58; <a href="http://meaningandform.tumblr.com/">Meaning and Form</a> is a blog about design. <a href="http://brandorn.tumblr.com/">Abundance</a> is a blog about everything else.
---

<!-- <div class="featured-post uxla">
	<a href="/ux-and-the-liberal-arts">
		<p>UX and the Liberal Arts</p>
		<p>How liberal arts students are unwitting design thinkers-in-training. </p>
	</a>
</div> -->

<div class="posts">
	{% for writing in site.categories.writing %}
		{% assign year = writing.date | date: "%Y" %}
		
		{% if year != date %}
		{% unless forloop.first %}</div>{% endunless %}
		
		<div class="year-posts">
			<h2>{{ year }}</h2>
			
			<ul>
				{% assign date = year %}
				{% endif %}
		
			<li>
					<a href="{{ writing.url }}">
						<p>{{ writing.title }}</p>
						<p class="date">{{ writing.date | date: "%b %Y" }}</p>
					</a>
			</li>

	{% if forloop.last %}</div>{% endif %}
{% endfor %}

</div> <!-- writing posts -->