<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="/img/favicon.png">

  <title>{% if page.title %}{{ page.title }}{% endif %} — {{ site.title }}</title>
  <meta name="description" content="Durham-based design person, mostly Midwestern.">

  <link rel="stylesheet" href="/src/styles/normalize.css">
  <link rel="stylesheet" href="/src/styles/main.css">

  <!-- Photoswipe source files-->
  <link rel="stylesheet" href="/src/styles/photoswipe.css">
  <link rel="stylesheet" href="/src/styles/photoswipe-default-skin/default-skin.css">
  <script src="/src/scripts/photoswipe.min.js"></script> 
  <script src="/src/scripts/photoswipe-ui-default.min.js"></script> 

  <script src="/src/scripts/scripts.js"></script> 


</head>
