<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2292%22>🥑</text></svg>">


  <title>{% if page.title %}{{ page.title }}{% endif %} — {{ site.title }}</title>
  {% if page.description %} 
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="Durham-based designer, photographer, and dog person.">
  {% endif %}
  {% if page.og_image %}
  <meta property="og:image" content="{{ page.og_image }}" />
  {% endif %}
  
  <link rel="stylesheet" href="/src/styles/normalize.css">
  <link rel="stylesheet" href="/src/styles/main.css">

  <!-- Photoswipe source files-->
  <link rel="stylesheet" href="/src/styles/photoswipe.css">
  <link rel="stylesheet" href="/src/styles/photoswipe-default-skin/default-skin.css">
  <script src="/src/scripts/photoswipe.min.js"></script> 
  <script src="/src/scripts/photoswipe-ui-default.min.js"></script> 

  <script src="/src/scripts/scripts.js"></script> 


</head>
