<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2292%22>🥑</text></svg>">

  <title>{% if page.title %}{{ page.title }}{% endif %} — {{ site.title }}</title>
  
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Durham-based designer, photographer, and dog person.{% endif %}">
  <meta property="og:image:secure_url" content="https://brandorn.com{% if page.og_image %}{{ page.og_image }}{% else %}/img/bd-og.jpg{% endif %}" />
  <meta property="og:image:type" content="image/jpeg" /> 
  <meta property="og:image:width" content="1200" /> 
  <meta property="og:image:height" content="630" />


  <link rel="stylesheet" href="/src/styles/normalize.css">
  <link rel="stylesheet" href="/src/styles/main.css">

  <!-- Photoswipe source files-->
  <link rel="stylesheet" href="/src/styles/photoswipe.css">
  <link rel="stylesheet" href="/src/styles/photoswipe-default-skin/default-skin.css">
  <script src="/src/scripts/photoswipe.min.js"></script> 
  <script src="/src/scripts/photoswipe-ui-default.min.js"></script> 

  <script src="/src/scripts/scripts.js"></script> 


</head>
