
<nav class="narrow">
	<a href="#" id="nav-reveal">
		<div></div>
		<div></div>
		<div></div>
	</a>

	<a href="../" class="home">
    <h1>Brandorn</h1>
  </a>

  <!--{% if page.active == "essays" %}
      <p class="page-type">Essays</p>
  {% else %}
  {% endif %} 

  {% if page.active == "fragments" %}
      <p class="page-type">Fragments</p>
  {% else %}
  {% endif %} -->

  {% if page.active == "projects" %}
      <p class="page-type">Projects</p>
  {% else %}
  {% endif %}

  <!-- {% if page.active == "favorites" %}
      <p class="page-type">Favorites</p>
  {% else %}
  {% endif %} -->

  {% if page.active == "about" %}
      <p class="page-type">About</p>
  {% else %}
  {% endif %}


</nav>
