{% assign current = page.url | downcase | split: '/' %}

<nav id="nav">
  <a href="../" class="home">
    <h1>Brandon Dorn</h1>
  </a>
  <ul class="nav-links">
  	<li><a href="../" class= "design {% unless current[1] == 'photography' or current[1] == 'writing' or current[1] == 'about' %} active {% endunless %}">Design</a></li>
  	<li><a href="/photography" class= "photography {% if current[1] == 'photography' %} active {% endif %}">Photography</a></li>
  	<li><a href="/writing" class="writing {% if current[1] == 'writing' %} active {% endif %}">Reading & Writing</a></li>
  	<li><a href="/about" class="about {% if current[1] == 'about' %} active {% endif %}">About</a></li>
  </ul>
  <a href="/photography/fallen-things" class="ft-callout">
    <div>
      <p class="new">Neat!</p>
      <p class="title">Fallen Things</p>
      <p class="subtitle">A Photo Book</p>
      <p class="subsubtitle">About Junk</p>
    </div>
  </a>
</nav>