
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  @media screen and (min-width: $break-large) {}

  @media screen and (max-width: $break-small) {}

}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $color-primary;
  font-weight: normal;
  font-family: $sans-serif;
  font-size: 100%;
  line-height: 140%;
  margin: 0;
  overflow: scroll;
  padding: 0;
  position: relative;

  @media screen and (min-width: $break-large) { }

  @media screen and (max-width: $break-medium) { }

  @media screen and (max-width: $break-small) { }


}

section { display: block; }

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 120%;
}

  .page h1 {  // For index pages
    font-family: $sans-serif;
    font-size: 1.4rem; 
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 1em 0;
  }

h2 { }

h3 { }

h4 { }

p { 
  font-size: $normal-type;
  line-height: 170%; 
  margin: 1em 0;
} 
  

a {

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  text-decoration: none;
  transition: all 0.2s;
  
  &:link,
  &:visited {
    border-bottom: 1px solid $color-secondary;
    color: rgba(40, 55, 59, 1);
  }
  
  &:hover,
  &:active {
    border-bottom: 1px solid rgba(40, 55, 59, 1);
  }

}

sup {
  color: $grey;
  font-family: $sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  padding-right: 0.3em;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    border-bottom: none;
  }

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.dot {
    li { list-style-type: disc; }
  }
}

ol {
  display: block;
  margin: 1em 0;
  margin-left: 0;
  padding-left: 0;
}

li {
  font-size: $normal-type;
  margin: 1em 0;
  line-height: 170%;
  vertical-align: top;
}

hr {
  height: 2px;
  background: $faint-grey;
  border: none;
  margin: 4em auto;
  width: 4em;
}

blockquote {
  // border-left: 2px solid $faint-grey;
  color: $grey;
  font-size: 1rem;
  margin: 2em 1em;
  padding: 0 1.5em;

  p { 
    margin: 0; 

    &:nth-child(n+2) { margin: 1em 0; }
  }

  &.intro-quote { 
    font-style: italic; 
    margin: 4em 2em;

    @media screen and (max-width: $break-medium) { margin: 3em 0.5em; }
  }

  @media screen and (max-width: $break-medium) { margin: 3em 0.5em; }
}

cite { 
  display: block;
  font-size: 0.9rem;
  font-style: normal;
  line-height: 160%;
  margin-left: 2em;
  margin-top: 1em;

  &:before {
    content: "–";
  }
}
  
article { }

header {
  margin: 3em 0;

  h1 {
    font-family: $sans-serif;
    font-weight: bold;
  }

}

table { margin: 2em 0; }

td,
th {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

thead th {
  font-size: $normal-type;
}

i { 
  font-style: italic; 
  font-weight: normal;
}

strong { 
  font-family: $sans-serif;
  font-size: $normal-type;
  font-weight: bold; 
}

*::selection { background: #FFF7CA; }

*:focus { outline: 1px dotted $light-grey; }