
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 110%;

  @media screen and (min-width: $break-large) { font-size: 130%; }

  @media screen and (max-width: $break-small) { font-size: 96%; }

}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $dark-grey;
  font-weight: normal;
  font-family: $serif;
  font-size: 100%;
  margin: 0 auto 1em auto;
  max-width: 800px;
  min-width: 720px;
  overflow: scroll;
  padding: 0 6em;
  position: relative;
  width: $main-width-large;

  @media screen and (min-width: $break-large) { max-width: 960px; }

  @media screen and (max-width: $break-medium) { 
    padding: 0 4em;
    min-width: $break-small;
  }

  @media screen and (max-width: $break-small) { 
    min-width: inherit;
    padding: 0 2em; 
    width: auto;
  }

  @media screen and (max-width: $break-tiny) { padding: 0 1em; }


}

section { display: block; }

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 120%;
}

  .page h1 {  // For index pages
    font-family: $sans-serif;
    font-size: 1.4rem; 
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 1em 0;
  }

h2 {
  font-family: $sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 120%;
  margin: 3em 0 1em 0;
}

h3 {
  font-family: $sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 3em 0 1em 0;
}

h4 {
  color: $grey;
  font-family: $sans-serif;
  font-size: 1rem;
  margin: 2em 0 1em 0;
}

p { 
  font-size: $normal-type;
  line-height: 170%; 
  margin: 1em 0;
} 
  
  /*section > p,
  li > p {
    text-indent: 1em;

    &:first-of-type { text-indent: 0; }
  }

  hr + p, 
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p { text-indent: 0; } */

a {

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  &:link,
  &:visited {
    color: $dark-grey;
    text-decoration: underline;
  }
  
  &:hover { color: $primary-color; }

  &:active {
    color: darken($primary-color, 10%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

sup {
  color: $grey;
  font-family: $sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  padding-right: 0.3em;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    border-bottom: none;
  }

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.dot {
    li { list-style-type: disc; }
  }
}

ol {
  display: block;
  margin: 1em 0;
  margin-left: 0;
  padding-left: 0;
}

li {
  font-size: $normal-type;
  margin: 1em 0;
  line-height: 170%;
  vertical-align: top;
}

hr {
  height: 2px;
  background: $faint-grey;
  border: none;
  margin: 4em auto;
  width: 4em;
}

blockquote {
  border-left: 2px solid $faint-grey;
  color: $grey;
  margin: 2em 0;
  padding: 0 1.5em;

  /* &:before {
    color: $faint-grey;
    content: "“";
    display: block;
    font-size: 2.5rem;
    font-style: normal;
    margin-left: -0.8em;
    margin-top: -0.2em;
    position: absolute;

    @media all and (max-width: $break-medium) { margin-left: -0.5em; }
  } */

  p { 
    margin: 0; 

    &:nth-child(n+2) { margin: 1em 0; }
  }
  /*p:nth-child(n+2) { text-indent: 1em; }*/

  &.intro-quote { 
    font-style: italic; 
    margin: 4em 2em;

    @media screen and (max-width: $break-medium) { margin: 3em 0.5em; }
  }

  @media screen and (max-width: $break-medium) { margin: 3em 0.5em; }
}

cite { 
  display: block;
  font-size: 0.9rem;
  font-style: normal;
  line-height: 160%;
  margin-left: 2em;
  margin-top: 1em;

  &:before {
    content: "–";
  }
}
  
article { }

header {
  margin: 3em 0;

  h1 {
    font-family: $sans-serif;
    font-weight: bold;
  }

}

table { margin: 2em 0; }

td,
th {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

thead th {
  @extend h3;
  font-size: $medium-type;
}

i { 
  font-style: italic; 
  font-weight: normal;
}

strong { 
  font-family: $sans-serif;
  font-size: $medium-type;
  font-weight: bold; 
}

*::selection { background: #FFF7CA; }

*:focus { outline: 1px dotted $light-grey; }