/* ====== Fonts ====== */

/* === Serif === */

@font-face {
  src: url(../src/fonts/Vollkorn-Semibold.otf);
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: medium;
}

@font-face {
  src: url(../src/fonts/Vollkorn-SemiboldItalic.otf);
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: medium;
}

@font-face {
  src: url(../src/fonts/Vollkorn-Regular.otf);
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(../src/fonts/Vollkorn-Italic.otf);
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: normal;
} 

$serif: "Vollkorn", Georgia, serif;
.serif { font-family: $serif; }


/* === Sans-serif === */

/* @font-face {
  src: local(SanFranciscoText),
  url(../src/fonts/SanFranciscoText-Semibold.otf);
  font-family: 'San Francisco Text';
  font-style: normal;
  font-weight: 700;
} */

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
.sans-serif { font-family: $sans-serif; }


/* Font sizes
   ================================ */

/* Get rid of "$type-normal" and others, replace across files */

$type-largest: 1.7em;
$type-large: 1.3em;
$type-normal: 1.05em;
$type-small: 0.8em;

.type-large { font-size: $type-large; }
.type-normal { font-size: $type-normal; }
.type-small { font-size: $type-small; }