figure {
  margin: 2em 0;
  vertical-align: top;

  img {
    display: block;
    width: 100%;
  }

  &.narrow {
    img {
      margin: 0 auto;
      max-width: 100px;
    } 
  }

  &.double-wide {
    width: 140%;
    margin-left: -20%;

    @media screen and (max-width: $break-medium) {
      float: none;
      width: 100%;
      margin: 3em 0;
    }
  }


// Right- and left-justified pics

  &.to-the-left,
  &.to-the-right {
    margin: 1em 5%;
    width: 50%; 
  }

  &.to-the-left {
    float: left;
    margin-left: -20%;

    @media screen and (max-width: $break-medium) {
      margin-left: -10%;
      width: 40%;
    }
  }

  &.to-the-right {
    float: right;
    margin-right: -20%;

    @media screen and (max-width: $break-medium) {
      margin-right: -10%;
      width: 40%;
    }
  }

  &.to-the-left,
  &.to-the-right {
    @media screen and (max-width: $break-small) {
      float: none;
      width: 100%;
      margin: 2em 0;
    }

  }


// Side-by-side pics

  &.two-up{
    display: inline-block;
    margin: 2em 0;
    width: 68%;

    &.left{
        margin-left: -20%;

        @media screen and (max-width: $break-medium) { 
          margin-left: -10%; 
          width: 58%;
        }

        @media screen and (max-width: $break-small) { 
          margin-bottom: -1em;
          margin-left: 0; 
        }
    }

    &.right{
        margin-right: -20%;

        @media screen and (max-width: $break-medium) { 
          margin-right: -10%; 
          width: 58%;
        }

        @media screen and (max-width: $break-small) { margin-right: 0; }
    }

    &.left,
    &.right {
      @media screen and (max-width: $break-small) {
        display: block;
        float: none;
        width: 100%;
        margin: 2em 0;
      }
    }
  }

// Three side-by-side

  &.three-up {
    display: inline-block;
    margin: 5% 1%;
    width: 44%;

    &.left {
      margin-left: -20%;
      float: none;

      @media screen and (max-width: $break-medium) {
        margin-left: 0;
      }
    }

    &.right {
      margin-right: -20%;
      float: none;

      @media screen and (max-width: $break-medium) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $break-medium) {
      display: block;
      width: 100%;
      margin: 2em 0;
    }

  }

  &.natural-width {
    img {
      width: auto;
      margin: 0 auto;
    }
  }
} // figure

figcaption {
  color: $grey;
  font-family: $sans-serif;
  font-size: $small-type;
  margin: 1em 0;

  a:link,
  a:visited { color: $grey; }

  a:hover, 
  a:active { color: $primary-color; }
}

