/* Primary nav
   ================================ */

nav {
  cursor: default;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-flow: row wrap;
  font-family: $sans-serif;
  margin-top: 1.5em;
}

.logo {
  margin-left: -142px;
  position: absolute;

  @media screen and (max-width: $break-medium) { 
    display: inline-block;
    margin-left: 0;
    margin-right: 2em;
    position: inherit;
  }

  @media screen and (max-width: $break-tiny) { 
    display: block;
    margin: 0 auto 1em auto; 
  }
  
  a { 
    background: url('/img/bd-logo.svg');
    background-position: 50%;
    background-size: 50px;
    border: none;
    display: block; 
    height: 50px;
    width: 40px;

    @media screen and (min-width: $break-large) { 
      background-size: 56px; 
      height: 56px;
      width: 46px; // Check dis
    }

    @media screen and (max-width: $break-small) { 
      background-size: 40px; 
      height: 40px;
      width: 40px;
    }
  }

}

.nav-links { 
  margin: 0;

  @media all and (max-width: $break-tiny) {
    display: block;
    text-align: center;
    width: 100%;
  }
  
  ul { padding: 0; }
  
  li { 
    display: inline-block; 
    margin-right: 1.5em;
    margin-top: 16px;

    @media all and (max-width: $break-medium) { margin-top: 14px;}

    @media all and (max-width: $break-small) { 
      margin-right: 0.86em;
      margin-top: 10px;
    }

    p { 
      font-size: $medium-type; 
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }

    a:link,
    a:visited { 
      border-bottom: 2px solid transparent;
      color: $primary-color; 
      padding-bottom: 0.3em;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $primary-color; 
      border-bottom: 2px solid $primary-color;
    }

    &.active a { 
      font-weight: bold; 
      border-bottom: 2px solid $primary-color;
    }
  }

}

/* Footer nav
   ================================ */

footer {
  border-top: 1px solid $faint-grey;
  clear: both;
  margin-top: 7em;
  padding: 1em 0;

  p {
    color: $light-grey;
    display: inline-block;
    font-family: $sans-serif;
    font-size: $small-type;
    margin-bottom: 1em;

    a:link,
    a:visited { color: $light-grey; }

    a:active,
    a:hover { color: $grey; }
  }

  .footer-links {
    display: inline-block;
    margin: 0;
    float: right;

    li {
      display: inline-block;
      margin: 0;

      &:nth-last-child(n+2) { margin-right: 1em; }
    }
  }

  @media screen and (max-width: $break-small) { 
    text-align: center; 
    .footer-links { 
      display: block;
      float: none; }
  }
}