---
---
@charset "UTF-8";


/* Color variables
   ================================ */

$color-primary: #292724;
$color-secondary: #59554F;
$color-tertiary: #bbb;
$color-accent: #d8332a;


/* Breakpoints
   ================================ */

$container-width: 580px;

$break-large: 1000px;
$break-medium: 960px;
$break-small: 700px;
$break-tiny: 400px;


/* Sass partials (from _sass)
   ================================ */

@import
  "fonts",
  "base",
  "img",
  "pages.scss"
;