---
---
@charset "UTF-8";


// Colors 

$white-01: rgba(255,255,255, 1);

$black-01: rgba(0,0,0,.86);
$black-02: rgba(0,0,0,.54);
$black-03: rgba(0,0,0,.42);
$black-04: rgba(0,0,0,.16);
$black-05: rgba(0,0,0,.08);
$black-06: rgba(0,0,0,.02);

$red-01: #8B0303;
$red-02: #D1524B;
$red-03: #F04242;

$highlight-red: #FEECEA;
$highlight-orange: #FFEED5;
$highlight-yellow: #FDFADD;
$highlight-green: #E5FBED;
$highlight-blue: #E4F9FF;
$highlight-purple: #F0E4FF;


// Shadows

@mixin shadow-default {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 200ms;
}

@mixin shadow-hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
  transition: ease-in-out 200ms;
}


// Transitions

@mixin transition-primary { transition: ease-in 0ms; }

@keyframes fade-up-in {
  from { transform: translateY(1rem); }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fade-up-in {
  opacity: 0;
  animation: fade-up-in 750ms;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {  }
  to { opacity: 1; }
}

@mixin fade-in {
  opacity: 0;
  animation: fade-in 750ms;
  animation-fill-mode: both;
}


// Breakpoints

$body-content-width: 38rem;

$break-large: 1400px;
$break-medium: 960px;
$break-small: 760px;
$break-tiny: 440px;


// SCSS partials

@import
  "type",
  "base",
  "img",
  "nav",
  "indexes",
  "instantiated"
;