.about {

	header { display: none; }

	figure { 
		margin-bottom: 1em; 

		img { 
			max-width: 20em; 

			@media screen and (max-width: $break-small) { margin: 0 auto 3em auto; }
		}
	}

	h1 { 
		display: inline-block;
		margin-bottom: 0.5em;
	}

	h2 { 
		color: $grey;
		font-family: $sans-serif;
		font-size: $normal-type;
		margin: 0 0 4em 0;
		text-indent: 0;
	}

	h1, 
	h2,
	.resume {
		@media screen and (max-width: $break-small) {
			display: block; 
			text-align: center; 
		}
	}

}

.resume {
	display: inline-block;
	float: right;
	font-family: $sans-serif;
	font-size: $small-type;
	margin-top: -7em;
	
	a {
		border: 1px solid $color-primary;
		border-radius: 2px;
		padding: 0.8em 1.5em;
		@extend .transition;
	}

	a:link,
	a:visited { 
		color: $color-primary;
		text-decoration: none; 
	}

	a:hover {
		background: lighten($color-primary, 52%);
		@extend .transition;
	}

	a:active { background: lighten($color-primary, 50%);}

	@media screen and (max-width: $break-small) {    
		display: block;
		float: none;
		margin-bottom: 3em;
		margin-top: -2em;
  }
}
