/* ====== Fragments ======*/

/* === Fragments index === */

.fragments-list {
  font-size: 18px;

  a {
    border-bottom: none;
    font-weight: 500;
    margin-right: 20px;
    transition: all $transition-fade;

    &:link {  }

    &:hover,
    &:active { color: $color-accent; }

    span { 
      line-height: 230%;
      padding: 12px 0;
    }

    img {
      height: 36px;
      margin-right: 6px;
      width: 48px;
      vertical-align: middle;
    }

    cite {
      color: $color-tertiary;
      font-style: normal;
      padding-right: 2px;

      // &:after { content: " – "; }
    }
  }
}

/* === Fragments page === */

.fragment-content {

  h1 { 
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 32px; 
    text-transform: uppercase;

    cite { 
      color: $color-tertiary;
      font-style: normal; 
      padding-right: 8px;
    }
  }

  p { 
    font-family: $serif;
  }

} // .fragment-content