---
layout: default
title: Photography
---

<header class='page-intro'>
	<p>I make photographs of plants, people, and weird infrastructure around North Carolina and the midwest, looking for symmetries and the uncanny in the ordinary. And dogs.</p>
</header>

<div class='photo-journal-list'>
	{% assign photo_journal_list = site.categories.photography %}
	<p class="label-medium">Photo Journals</p>
	<div class="photo-journals">
	{% for item in photo_journal_list %}
		<a href='{{ item.url }}' class="photo-journal-preview" style="--index: {{ forloop.index }}">
			<div class="content">
				<img src="/img/photography/{{ item.thumb }}" alt="">
				<div class="name">
					<p class="title">{{ item.title }}</p>
					<p class="description">{{ item.description }}</p>
				</div>
			</div>
		</a>
	{% endfor %}
	</div>
</div> <!-- .photo-journal-list -->

<div class="photo-gallery misc">
	<figure>
		<a href="/img/photography/misc/2020-jesus.jpg" itemprop="contentUrl" data-size="2000x2079">
			<img src="/img/photography/misc/2020-jesus.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure class="narrower">
		<a href="/img/photography/misc/2020-chair.jpg" itemprop="contentUrl" data-size="1160x1194">
			<img src="/img/photography/misc/2020-chair.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-spilled-sand.jpg" itemprop="contentUrl" data-size="2000x1278">
			<img src="/img/photography/misc/2020-spilled-sand.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-midwestern-blues.jpg" itemprop="contentUrl" data-size="1080x1080">
			<img src="/img/photography/misc/2020-midwestern-blues.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Wheaton, IL</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-magic-schoolbus.jpg" itemprop="contentUrl" data-size="1800x1200">
			<img src="/img/photography/misc/2020-magic-schoolbus.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-crab.jpg" itemprop="contentUrl" data-size="1660x1040">
			<img src="/img/photography/misc/2020-crab.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure class="narrower portrait">
		<a href="/img/photography/misc/2019-holly.jpg" itemprop="contentUrl" data-size="1200x1908">
			<img src="/img/photography/misc/2019-holly.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/kimbrough/kimbrough-2020-01_79.jpg" itemprop="contentUrl" data-size="2400x1560">
			<img src="/img/photography/kimbrough/kimbrough-2020-01_79.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure class="narrower portrait">
		<a href="/img/photography/misc/2019-bloomington-pole.jpg" itemprop="contentUrl" data-size="1800x2937">
			<img src="/img/photography/misc/2019-bloomington-pole.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Bloomington, IL</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2019-beach-boy.jpg" itemprop="contentUrl" data-size="1200x756">
			<img src="/img/photography/misc/2019-beach-boy.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Wilmington, NC</figcaption>
	</figure>

	<figure class="narrower portrait">
		<a href="/img/photography/misc/2019-laundromate.jpg" itemprop="contentUrl" data-size="1600x2400">
			<img src="/img/photography/misc/2019-laundromate.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Bloomington, IL</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2021-car-wash.jpg" itemprop="contentUrl" data-size="2000x1333">
			<img src="/img/photography/misc/2021-car-wash.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Knoxville, TN</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-crane.jpg" itemprop="contentUrl" data-size="2000x1245">
			<img src="/img/photography/misc/2020-crane.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2015-brian.jpg" itemprop="contentUrl" data-size="1800x1350">
			<img src="/img/photography/misc/2015-brian.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Bloomington, IL</figcaption>
	</figure>
	<figure class="narrower portrait">
		<a href="/img/photography/misc/2019-train.jpg" itemprop="contentUrl" data-size="1800x2700">
			<img src="/img/photography/misc/2019-train.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Bloomington, IL</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2019-grays-and-golds.jpg" itemprop="contentUrl" data-size="1080x675">
			<img src="/img/photography/misc/2019-grays-and-golds.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Bloomington, IL</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-bridge-beach.jpg" itemprop="contentUrl" data-size="1200x1014">
			<img src="/img/photography/misc/2020-bridge-beach.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2008-tree.jpg" itemprop="contentUrl" data-size="1800x1350">
			<img src="/img/photography/misc/2008-tree.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Highland Park, IL</figcaption>
	</figure>
	<figure class="narrower portrait">
		<a href="/img/photography/misc/2021-bar.jpg" itemprop="contentUrl" data-size="1184x1776">
			<img src="/img/photography/misc/2021-bar.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Madison, WI</figcaption>
	</figure>
	<figure class="narrower">
		<a href="/img/photography/misc/2019-windmill.jpg" itemprop="contentUrl" data-size="1802x1802">
			<img src="/img/photography/misc/2019-windmill.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Holland, MI</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2020-pit-stop.jpg" itemprop="contentUrl" data-size="1080x1080">
			<img src="/img/photography/misc/2020-pit-stop.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Hebron, IN</figcaption>
	</figure>
	<figure class="narrower">
		<a href="/img/photography/misc/2020-ani-field.jpg" itemprop="contentUrl" data-size="1200x800">
			<img src="/img/photography/misc/2020-ani-field.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Sanford, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2019-ohare.jpg" itemprop="contentUrl" data-size="1800x1175">
			<img src="/img/photography/misc/2019-ohare.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Chicago, IL</figcaption>
	</figure>
	<figure class="narrower portrait">
		<a href="/img/photography/misc/2019-ncma-tree.jpg" itemprop="contentUrl" data-size="1200x1896">
			<img src="/img/photography/misc/2019-ncma-tree.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure class="narrowest portrait">
		<a href="/img/photography/misc/2020-rainy-steps.jpg" itemprop="contentUrl" data-size="1200x1880">
			<img src="/img/photography/misc/2020-rainy-steps.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2019-beach-pillars.jpg" itemprop="contentUrl" data-size="1800x1175">
			<img src="/img/photography/misc/2019-beach-pillars.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Wilmington, NC</figcaption>
	</figure>
	<figure class="narrower">
		<a href="/img/photography/misc/2020-ani-bw.jpg" itemprop="contentUrl" data-size="3304x2102">
			<img src="/img/photography/misc/2020-ani-bw.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
	<figure>
		<a href="/img/photography/misc/2019-pumpkin-dude.jpg" itemprop="contentUrl" data-size="1800x1200">
			<img src="/img/photography/misc/2019-pumpkin-dude.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Morton, IL</figcaption>
	</figure>
	<figure class="narrower">
		<a href="/img/photography/misc/2022-leaves.jpg" itemprop="contentUrl" data-size="2000x1333">
			<img src="/img/photography/misc/2022-leaves.jpg" itemprop="thumbnail">
		</a>
		<figcaption itemprop="caption description">Durham, NC</figcaption>
	</figure>
</div> <!-- .photo-gallery.misc -->

{% include photoswipe-elements.html %}