<!doctype html>
<html>
  {% include head.html %}
	<body class="photo-journal">
	{% include nav.html %}

		<header>
			<p class=label-small> {% if page.photo_book %} Photo Book {% else %} Photo Journal {% endif %} </p>
			<h1> {{ page.title }}</h1>
			<p class="intro"> {{ page.description }}</p>
		</header><!-- /header -->

		<div class="photo-journal-content">
			<div class="intro">
				{{ page.intro }}
			</div>
			{{ content }}
		</div>

		<div> <!-- Removed "photo-gallery" class because it  -->
			
		</div>

	{% include photoswipe-elements.html %}
	  
	{% include footer.html %}
  </body>
</html>
