#topNav ul li{
  display: inline;
	font-family: Lato;
	font-size: 12pt;
}

#topNav ul li a{
	text-decoration: none;
}

#topNav ul li a:link{
	color: #757575;
}

#topNav ul li a:visited{
	color: #757575;
}

#topNav ul li a:hover{
	color: #3d3d3d;
}
