@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  General styling

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


body, html { 
  margin: 0;
  height: 100%;
}
body {
  background:#7f928a;
  background:-moz-radial-gradient(center, #7f928a, #45504b);
  background:-webkit-gradient(radial, center center, 120, center center, 800, from(#7f928a), to(#45504b));
  font-family: lato;
  color: #e8e8e8;
  font-size: 0.9em;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  position: relative;
  top: -40px;
}

a {
  color: #999;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%;
}
a:hover {
  color: #fff;
}
p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 100;
  width: 50%;
  margin: 100px 20%;
}

/*flickr images*/
#flickr a img {
  height: 150px;
  border: #e8e8e8 solid 4px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.imgholder{
  padding: 20px;
  float: left;
  text-align: center;
}
#flickr img:hover{
  border: #333 solid 4px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Sidebar

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


#sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 160px;
  color: #999;
  left:-150px;
  background: #e8e8e8;
  border-right: #aaa solid 4px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  transition: .2s ease-in-out;
}
#sidebar h1{
  margin-left: 8px;
}
#sidebar:hover{
  left:0px;
}
#sidebar li {
  list-style: none;
  padding: 10px;
}
#sidebar li a {
  margin-top: 60px;
  margin-left: -34px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Panel layout

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


.panel{
  float: right;
  margin-right: 10px;
  margin-left: 180px;
  margin-top: 20px;
  z-index:500;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: .6s ease-in-out;
  -moz-transition: .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  transition: .6s ease-in-out;
}
.panel:target{
  z-index: 1000;
  opacity: 1;
}