@charset "UTF-8";
/* ==========================================================================
   brandorn.com styles
   Brandon Dorn - 2015
 
 * CONTENTS
 *
 * Global
 * Layout
 * Page-specific
 * Utility
 ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
/* Color variables
   ========================================================================== */
.grey {
  color: #616161; }

/* Responsive sizing variables
   ========================================================================== */
/* Font variables and declarations
   ========================================================================== */
/*
 * Mate (serif)
 */
/*
 * Need to figure out how to avoid delay using @font-face.
 */
.serif {
  font-family: "Avenir", Georgia, serif; }

@font-face {
  font-family: Mate;
  src: url("mate-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Mate;
  src: url("fonts/mate-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
/*
@font-face {
  font-family: Mate;
  src: url("fonts/pt-serif-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mate;
  src: url("fonts/pt-serif-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}*/
/*
 * Raleway (sans-serif)
 */
.sans-serif {
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal-italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold.ttf") format("truetype");
  font-weight: 500;
  font-style: bold; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold-italic.otf") format("truetype");
  font-weight: 500;
  font-style: italic; }
/*
 * Font sizes
 */
.small-type {
  font-size: 0.92rem; }

/* HTML elements
   ========================================================================== */
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 96%; }
  @media screen and (max-width: 700px) {
    html {
      font-size: 88%; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #fcfcfc;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 auto;
  overflow: scroll;
  padding: 0 20px;
  transition: all 150ms;
  -webkit-font-smoothing: antialiased; }

h1 {
  color: #242424;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 120%;
  margin: 10px 0; }

h2 {
  color: #242424;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  margin: 1em 0; }
  h2 a:link,
  h2 a:visited {
    text-decoration: none; }
  h2 a:hover,
  h2 a:active {
    text-decoration: underline; }

h3 {
  color: #242424;
  font-size: 1.2rem;
  font-weight: bold; }

h4 {
  color: #999999;
  margin: 1em 0; }

p {
  color: #242424;
  letter-spacing: -0.15pt;
  line-height: 140%;
  margin: 10px 0;
  text-shadow: 0 0 1px #ddd; }

a {
  transition: all 100ms; }
  a:link, a:visited {
    color: #db240d;
    text-decoration: underline; }
  a:hover, a:active {
    transition: all 100ms;
    -webkit-tap-highlight-color: transparent; }

sup {
  font-size: .9rem;
  font-weight: bold;
  padding: 2px;
  position: relative;
  top: -5px;
  vertical-align: top; }

sup a:link,
sup a:visited,
.footnotes .returnUp:link,
.footnotes .returnUp:visited {
  text-decoration: none;
  border-bottom: none; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  margin: 0.5em 0; }

hr {
  background: url(../img/hr.svg) no-repeat;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 50px auto 30px auto; }
  hr.flat {
    background: none;
    border-bottom: 2px solid #e6e6e6;
    height: 0;
    margin: 5em auto;
    max-width: 400px;
    width: auto; }

blockquote {
  border-left: 2px solid #eee;
  margin: 30px auto;
  max-width: 400px;
  padding: 4px 16px; }
  blockquote p {
    color: #777;
    font-style: italic;
    line-height: 1.5;
    margin: 4px 0; }
  blockquote .author {
    font-style: normal;
    text-align: right; }

article {
  margin: 0 auto 50px auto;
  max-width: 700px; }
  article.full-width {
    max-width: 1080px; }
    article.full-width header figure {
      margin: 4% 0; }
    article.full-width figure {
      margin: 4% 4% 4% 0; }
      @media screen and (max-width: 700px) {
        article.full-width figure {
          margin: 4% 0; } }
      article.full-width figure:nth-last-child(1) {
        margin-bottom: 4rem; }
  article h1 {
    font-family: "Avenir", Georgia, serif; }
  article h2 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center; }
  article p {
    font-family: "Avenir", Georgia, serif;
    font-size: 1.2rem;
    line-height: 160%;
    margin-bottom: 2em; }

header {
  text-align: center;
  margin: 40px 0 80px 0; }
  header p {
    color: #616161;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 130%;
    margin: 20px auto 40px auto;
    max-width: 700px; }
  header .description {
    color: #242424;
    font-family: "Avenir", Georgia, serif;
    font-size: 1.4rem;
    margin: 4em auto;
    max-width: 900px; }
  header figure {
    margin: 7% 0; }

figure {
  margin: 7% 0;
  vertical-align: top; }
  figure.double-wide {
    width: 140%;
    margin-left: -20%; }
    @media screen and (max-width: 1080px) {
      figure.double-wide {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.to-the-left {
    float: left;
    width: 50%;
    margin: 2% 5%;
    margin-left: -20%; }
    @media screen and (max-width: 1080px) {
      figure.to-the-left {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.to-the-right {
    float: right;
    width: 50%;
    margin: 2% 5%;
    margin-right: -20%; }
    @media screen and (max-width: 1080px) {
      figure.to-the-right {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.two-up {
    display: inline-block;
    margin: 5% 2%;
    width: 68%; }
    figure.two-up.left {
      margin-left: -20%; }
      @media screen and (max-width: 1080px) {
        figure.two-up.left {
          margin-left: 0; } }
    figure.two-up.right {
      margin-right: -20%; }
      @media screen and (max-width: 1080px) {
        figure.two-up.right {
          margin-right: 0; } }
    @media screen and (max-width: 1080px) {
      figure.two-up {
        display: block;
        width: 100%;
        margin: 2% 0; } }
  figure.natural-width img {
    width: auto;
    margin: 0 auto; }

figcaption {
  color: #616161;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.92rem;
  margin: 1em 0; }

img {
  display: block;
  width: 100%; }
  img.bordered {
    border: 2px solid #e6e6e6; }
  img.fake {
    background: #e6e6e6; }

/* ==========================================================================
   Layout
   ========================================================================== */
/* Nav
   ========================================================================== */
nav {
  cursor: default;
  margin: 0 auto;
  max-width: 900px;
  padding: 32px 0; }
  nav .logo {
    display: inline-block;
    background: url("../img/logo.svg") no-repeat center;
    border-bottom: none; }
  nav.big .logo {
    background-size: 60px;
    height: 56px;
    width: 40px; }
    @media screen and (max-width: 700px) {
      nav.big .logo {
        background-size: 48px;
        height: 48px;
        width: 34px; } }
  nav.big .logo-text {
    display: inline-block;
    margin: 3px 10px;
    vertical-align: top; }
    nav.big .logo-text p {
      margin: 0;
      line-height: 100%; }
    nav.big .logo-text h1 {
      color: #db240d;
      font-weight: normal;
      line-height: 54%;
      text-transform: lowercase; }
    @media screen and (max-width: 700px) {
      nav.big .logo-text {
        margin: 0 10px; }
        nav.big .logo-text h1 {
          font-size: 1.8rem; }
        nav.big .logo-text p {
          font-size: 0.92rem; } }
  nav.small {
    border-bottom: none;
    padding-bottom: 20px; }
    nav.small .logo {
      background-size: 38px;
      height: 38px;
      width: 38px; }
      nav.small .logo:hover {
        transform: scale(1.2); }
    nav.small .forward-slash {
      width: 1px;
      height: 32px;
      background: #CCC;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      padding: 0;
      margin: 3px 16px 0 12px; }
    nav.small div {
      display: inline-block;
      vertical-align: top;
      padding-top: 6px; }
    nav.small p {
      font-size: 1.4em;
      font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
      font-weight: 500;
      margin: 0;
      text-transform: lowercase;
      vertical-align: middle; }
      nav.small p a:link,
      nav.small p a:visited {
        text-decoration: none; }
      nav.small p a:hover,
      nav.small p a:active {
        text-decoration: underline; }

/* Content
   ========================================================================== */
.content {
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px; }

.footnotes {
  margin: 60px 0 120px 0;
  color: #bbb; }
  .footnotes p {
    font-size: 0.92rem;
    margin: 4px 0;
    color: #777;
    padding-left: 20px;
    margin-bottom: 10px; }

.footnotes > li {
  counter-increment: nodecimal;
  display: block; }

.footnotes > li:before {
  content: counter(nodecimal) " ";
  float: left;
  width: 20px;
  margin-top: 2px; }

.footnotes:first-child {
  counter-reset: nodecimal; }

/* Footer
   ========================================================================== */
footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  max-width: 900px; }
  footer p {
    color: #888;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 0.8rem; }

.next-page {
  line-height: 120%;
  padding: 50px 0;
  transition: ease-in-out 150ms;
  vertical-align: top;
  width: 50%; }
  .next-page:link {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none; }
  .next-page:hover {
    background: whitesmoke; }
  .next-page span {
    display: inline-block;
    font-size: 2rem;
    line-height: 30%;
    transition: ease-in-out 150ms; }

.next-page.left {
  padding-left: 40px; }
  @media screen and (max-width: 700px) {
    .next-page.left {
      padding-left: 20px; } }
  .next-page.left span {
    padding-right: 4px; }
  .next-page.left:hover span {
    transform: scale(1.2) translate(-4px, 0); }

.next-page.right {
  padding-right: 40px;
  text-align: right; }
  @media screen and (max-width: 700px) {
    .next-page.right {
      padding-right: 20px; } }
  .next-page.right span {
    padding-left: 4px; }
  .next-page.right:hover span {
    transform: scale(1.2) translate(4px, 0); }

/* ==========================================================================
   Pages
   ========================================================================== */
/* Home
   ========================================================================== */
.home-block {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 0 40px 0; }
  .home-block h2 {
    margin: 4px 0; }
  .home-block p {
    margin: 0; }
  .home-block .grid__col {
    margin-top: 30px; }

.bio {
  padding: 40px 0; }
  .bio .portrait {
    background: url("../img/bd-portrait-1.jpg");
    background-size: 140px;
    border-radius: 2px;
    display: inline-block;
    height: 135px;
    margin-top: 16px;
    position: absolute;
    transition: 200ms;
    vertical-align: top;
    width: 140px; }
    .bio .portrait:hover {
      background: url("../img/bd-portrait-2.png");
      background-size: 140px; }
    @media screen and (max-width: 700px) {
      .bio .portrait {
        display: block;
        margin: 20px auto 40px auto;
        position: inherit; } }
  .bio div + div {
    margin-left: 170px; }
    .bio div + div p {
      margin: 20px 0; }
    .bio div + div p:nth-child(1) {
      font-size: 1.4rem;
      font-family: "Avenir", Georgia, serif; }
      @media screen and (max-width: 700px) {
        .bio div + div p:nth-child(1) {
          text-align: center; } }
    @media screen and (max-width: 700px) {
      .bio div + div ul {
        text-align: center; } }
    .bio div + div li {
      display: inline-block;
      font-weight: 500; }
      .bio div + div li a {
        margin: 0 4px; }
      .bio div + div li:after {
        content: " · ";
        color: #999999; }
      .bio div + div li:nth-child(1) a {
        margin-left: 0; }
      .bio div + div li:nth-last-child(1):after {
        content: ""; }
    @media screen and (max-width: 700px) {
      .bio div + div {
        margin-left: 0; } }

/* Portfolio
   ========================================================================== */
.methods h4 {
  margin: 1.5em 0 0.2em 0; }
.methods ul {
  margin: 0; }
.methods li {
  font-family: "Avenir", Georgia, serif;
  font-size: 1.1rem;
  line-height: 150%; }

/* Content list pages
   ========================================================================== */
.content-description {
  font-size: 0.92rem;
  margin-top: 14px; }
  @media screen and (max-width: 700px) {
    .content-description {
      border-bottom: 1px solid #e6e6e6;
      font-size: 1rem;
      margin-bottom: 40px;
      padding-bottom: 30px; } }

.content-filter {
  margin-top: 20px; }
  .content-filter li {
    display: inline-block;
    margin: 8px 2px;
    padding: 0; }
    .content-filter li:nth-child(1) {
      margin-left: 0; }
  .content-filter a {
    border-radius: 2px;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none; }
    .content-filter a:hover {
      background: #e6e6e6;
      color: #db240d; }
  .content-filter a.selected {
    background: #db240d;
    color: #fff; }
  @media screen and (max-width: 700px) {
    .content-filter {
      text-align: center; } }

.content-list {
  padding-left: 20px; }
  @media screen and (max-width: 700px) {
    .content-list {
      padding-left: 0; } }
  .content-list li {
    margin-bottom: 24px; }
    .content-list li h2 {
      margin: 4px 0; }
    .content-list li p {
      margin: 0; }
    .content-list li .meta {
      color: #616161;
      font-size: 0.92rem;
      margin-top: 6px; }

/* ==========================================================================
   Utility
   ========================================================================== */
.primary {
  color: #db240d; }

.green {
  color: #23AD63; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.small-caps {
  font-variant: small-caps; }

.hidden {
  display: none; }

.no-border {
  border: none; }

.mt-5 {
  margin-top: 5em; }

.mb-5 {
  margin-bottom: 5em; }

.mb-2 {
  margin-bottom: 2em; }

.wide {
  max-width: 1080px; }

/*# sourceMappingURL=main.css.map */
