---
---
@charset "UTF-8";


/* Color variables
   ================================ */

$primary-color: #db240d;

$dark-grey: hsla(0, 0%, 14%, 1);
$grey: hsla(0, 0%, 40%, 1);
$light-grey: hsla(0, 0%, 62%, 1);
$faint-grey: hsla(0, 0%, 84%, 1);

$green: #23AD63;

.grey { color: $grey; }

.transition { transition: all 150ms; }


/* Device sizing variables
   ================================ */

$break-large: 1281px;
$break-medium: 960px;
$break-small: 600px;
$break-tiny: 440px;

$main-width-large: 70%;
$main-width-medium: 86%;



/* Sass partials (from _sass)
   ================================ */

@import
  "fonts",
  "base",
  "nav",
  "images",
  "utilities",
  "pages/writing.scss",
  "pages/notebooks.scss",
  "pages/bookshelf.scss",
  "pages/about.scss",
  "pages/post.scss",
  "pages/longform.scss"
;
