@charset "UTF-8";
/* ==========================================================================
   brandorn.com styles
   Brandon Dorn - 2015
 
 * CONTENTS
 *
 * Global
 * Layout
 * Page-specific
 * Utility
 ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
/* Color variables
   ========================================================================== */
.grey {
  color: #616161; }

/* Responsive sizing variables
   ========================================================================== */
/* Font variables and declarations
   ========================================================================== */
/*
 * Mate (serif)
 */
/*
 * Need to figure out how to avoid delay using @font-face, and how to use Mate on mobile...
 */
.serif {
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: Mate;
  src: url("mate-regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Mate;
  src: url("fonts/mate-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
/*
@font-face {
  font-family: Mate;
  src: url("fonts/pt-serif-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mate;
  src: url("fonts/pt-serif-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}*/
/*
 * Raleway (sans-serif)
 */
.sans-serif {
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal-italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold.ttf") format("truetype");
  font-weight: 500;
  font-style: bold; }
@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold-italic.otf") format("truetype");
  font-weight: 500;
  font-style: italic; }
/*
 * Font sizes
 */
.medium-type {
  font-size: 1.1rem; }

.small-type {
  font-size: 0.92rem; }

.smallest-type {
  font-size: 0.8rem; }

/* HTML elements
   ========================================================================== */
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 96%; }
  @media screen and (max-width: 700px) {
    html {
      font-size: 88%; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #fcfcfc;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 auto;
  overflow: scroll;
  padding: 0 20px;
  transition: all 150ms;
  -webkit-font-smoothing: antialiased; }

h1 {
  color: #242424;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 120%;
  margin: 10px 0; }

h2 {
  color: #242424;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 120%;
  margin: 1em 0 0 0;
  text-align: center; }
  h2 a:link,
  h2 a:visited {
    text-decoration: none; }
  h2 a:hover,
  h2 a:active {
    text-decoration: underline; }

h3 {
  color: #616161;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5em 0;
  text-align: center; }

h4 {
  color: #616161;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 1em 0;
  text-align: center; }

p,
li {
  color: #242424;
  line-height: 140%;
  margin: 0.5em 0; }

a {
  transition: all 100ms; }
  a:link, a:visited {
    color: #db240d;
    text-decoration: underline; }
  a:hover, a:active {
    transition: all 100ms;
    -webkit-tap-highlight-color: transparent; }

sup {
  padding: 2px; }

sup a:link,
sup a:visited,
.footnotes .returnUp:link,
.footnotes .returnUp:visited {
  text-decoration: none;
  border-bottom: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.dot li {
    background: url("img/list-dot.png") no-repeat 7px 10px transparent;
    list-style-type: none;
    padding: 0 0 1px 24px;
    vertical-align: middle; }

ol {
  counter-reset: li;
  margin: 0;
  margin-left: 0;
  padding-left: 0; }
  ol > li {
    list-style: none;
    margin: 0 0 6px 2em;
    padding: 4px 8px;
    position: relative; }
    ol > li:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #616161;
      content: counter(li);
      counter-increment: li;
      font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      left: -2em;
      margin: 0.1em 0 0 1em;
      padding: 4px;
      position: absolute;
      text-align: center;
      top: 8px; }

li {
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  margin: 0.5em 0;
  vertical-align: top; }

hr {
  border: none;
  border-bottom: 2px solid #e6e6e6;
  margin: 5em auto;
  max-width: 400px; }

blockquote {
  border-left: 3px solid #e6e6e6;
  color: #db240d;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  margin: 2em;
  padding: 0.5em 2em;
  width: auto; }
  @media screen and (max-width: 700px) {
    blockquote {
      margin: 1em;
      padding: 0.5em 1em; } }

.author {
  color: #616161;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: -2rem 2rem 2rem 2rem;
  text-align: right; }

article {
  margin: 0 auto 8em auto;
  max-width: 700px; }
  article.full-width {
    max-width: 1080px; }
    article.full-width header figure {
      margin: 4% 0; }
    article.full-width figure {
      margin: 4% 4% 4% 0; }
      @media screen and (max-width: 700px) {
        article.full-width figure {
          margin: 4% 0; } }
      article.full-width figure:nth-last-child(1) {
        margin-bottom: 4rem; }
  article h1 {
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif; }
  article h2 {
    font-weight: bold;
    letter-spacing: 0.03rem;
    margin: 5em 0 1em 0; }
  article p,
  article li {
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1;
    line-height: 170%; }
  article p {
    margin-bottom: 2em; }
  article li {
    line-height: 140%; }

header {
  margin: 40px 0 80px 0;
  text-align: center; }
  header p {
    color: #616161;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0 auto 2em auto;
    max-width: 700px; }
  header .description {
    color: #242424;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin: 4em auto;
    max-width: 900px; }
  header figure {
    margin: 7% 0; }

figure {
  margin: 7% 0;
  vertical-align: top; }
  figure.double-wide {
    width: 140%;
    margin-left: -20%; }
    @media screen and (max-width: 1080px) {
      figure.double-wide {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.to-the-left {
    float: left;
    width: 50%;
    margin: 2% 5%;
    margin-left: -20%; }
    @media screen and (max-width: 1080px) {
      figure.to-the-left {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.to-the-right {
    float: right;
    width: 50%;
    margin: 2% 5%;
    margin-right: -20%; }
    @media screen and (max-width: 1080px) {
      figure.to-the-right {
        float: none;
        width: 100%;
        margin: 5% 0; } }
  figure.two-up {
    display: inline-block;
    margin: 5% 2%;
    width: 68%; }
    figure.two-up.left {
      margin-left: -20%; }
      @media screen and (max-width: 1080px) {
        figure.two-up.left {
          margin-left: 0; } }
    figure.two-up.right {
      margin-right: -20%; }
      @media screen and (max-width: 1080px) {
        figure.two-up.right {
          margin-right: 0; } }
    @media screen and (max-width: 1080px) {
      figure.two-up {
        display: block;
        width: 100%;
        margin: 2% 0; } }
  figure.three-up {
    display: inline-block;
    margin: 5% 2%;
    width: 44%; }
    figure.three-up.left {
      margin-left: -20%; }
      @media screen and (max-width: 1080px) {
        figure.three-up.left {
          margin-left: 0; } }
    figure.three-up.right {
      margin-right: -20%; }
      @media screen and (max-width: 1080px) {
        figure.three-up.right {
          margin-right: 0; } }
    @media screen and (max-width: 1080px) {
      figure.three-up {
        display: block;
        width: 100%;
        margin: 2% 0; } }
  figure.natural-width img {
    width: auto;
    margin: 0 auto; }

figcaption {
  color: #616161;
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.92rem;
  margin: 1em 0; }
  figcaption a:link,
  figcaption a:visited {
    color: #999999; }

img {
  display: block;
  width: 100%; }
  img.bordered {
    border: 2px solid #e6e6e6; }

table {
  margin: 2em 0; }

td,
th {
  padding: 0.5em 1em;
  text-align: left;
  vertical-align: top; }

strong {
  color: #db240d;
  font-weight: 500; }

*::selection {
  background: #e6e6e6; }

*:focus {
  outline: 1px dotted #999999; }

/* ==========================================================================
   Layout
   ========================================================================== */
/* Nav
   ========================================================================== */
nav {
  cursor: default;
  margin: 0 auto;
  max-width: 900px;
  padding: 32px 0; }
  nav .logo {
    display: inline-block;
    background: url("../img/logo.svg") no-repeat center;
    border-bottom: none; }
  nav.big .logo {
    background-size: 60px;
    height: 56px;
    width: 40px; }
    @media screen and (max-width: 700px) {
      nav.big .logo {
        background-size: 48px;
        height: 48px;
        width: 34px; } }
  nav.big .logo-text {
    display: inline-block;
    margin: 3px 10px;
    vertical-align: top; }
    nav.big .logo-text p {
      margin: 0;
      line-height: 100%; }
    nav.big .logo-text h1 {
      color: #db240d;
      font-weight: normal;
      line-height: 54%;
      text-transform: lowercase; }
    @media screen and (max-width: 700px) {
      nav.big .logo-text {
        margin: 0 10px; }
        nav.big .logo-text h1 {
          font-size: 1.8rem; }
        nav.big .logo-text p {
          font-size: 0.92rem; } }
  nav.small {
    border-bottom: none;
    padding-bottom: 20px; }
    nav.small .logo {
      background-size: 38px;
      height: 38px;
      width: 38px; }
      nav.small .logo:hover {
        transform: scale(1.2); }
    nav.small .forward-slash {
      width: 1px;
      height: 32px;
      background: #CCC;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      padding: 0;
      margin: 3px 16px 0 12px; }
    nav.small div {
      display: inline-block;
      vertical-align: top;
      padding-top: 6px; }
    nav.small p {
      font-size: 1.4em;
      font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
      font-weight: 500;
      margin: 0;
      text-transform: lowercase;
      vertical-align: middle; }
      nav.small p a:link,
      nav.small p a:visited {
        text-decoration: none; }
      nav.small p a:hover,
      nav.small p a:active {
        text-decoration: underline; }

/* Content
   ========================================================================== */
.content {
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px; }

.footnotes {
  border-top: 2px solid #e6e6e6;
  color: #999999;
  margin: 6em 0 2em 0;
  padding-top: 2em; }
  .footnotes li {
    font-size: 0.92rem;
    margin: 4px 0;
    color: #616161;
    margin-bottom: 10px; }
    .footnotes li:before {
      font-size: 1rem;
      top: 1px; }

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #db240d; }

/* Footer
   ========================================================================== */
footer {
  border-top: 1px solid #e6e6e6;
  clear: both;
  margin: 2em auto 0 auto;
  max-width: 900px; }
  footer p {
    color: #888;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-size: 0.8rem; }
  footer .nav-links {
    margin: 0.5em 0;
    text-align: center; }
    footer .nav-links li {
      display: inline-block; }
      footer .nav-links li:nth-last-child(n+2) {
        margin-right: 1em; }

.next-page {
  line-height: 120%;
  padding: 50px 0;
  transition: ease-in-out 150ms;
  vertical-align: top;
  width: 50%; }
  .next-page:link {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none; }
  .next-page:hover {
    background: whitesmoke; }
  .next-page span {
    display: inline-block;
    font-size: 2rem;
    line-height: 30%;
    transition: ease-in-out 150ms; }

.next-page.left {
  padding-left: 40px; }
  @media screen and (max-width: 700px) {
    .next-page.left {
      padding-left: 20px; } }
  .next-page.left span {
    padding-right: 4px; }
  .next-page.left:hover span {
    transform: scale(1.2) translate(-4px, 0); }

.next-page.right {
  padding-right: 40px;
  text-align: right; }
  @media screen and (max-width: 700px) {
    .next-page.right {
      padding-right: 20px; } }
  .next-page.right span {
    padding-left: 4px; }
  .next-page.right:hover span {
    transform: scale(1.2) translate(4px, 0); }

/* ==========================================================================
   Pages
   ========================================================================== */
/* Home
   ========================================================================== */
.home-block {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  max-width: 900px;
  padding: 0.5em 0 3em 0; }
  .home-block h2 {
    text-align: left; }
  .home-block p {
    margin: 0.2em 0; }
  .home-block .grid__col {
    margin-top: 1em; }

.bio {
  padding: 40px 0; }
  .bio .portrait {
    background: url("../img/bd-portrait-1.jpg");
    background-size: 140px;
    border-radius: 2px;
    display: inline-block;
    height: 135px;
    margin-top: 16px;
    position: absolute;
    transition: 200ms;
    vertical-align: top;
    width: 140px; }
    .bio .portrait:hover {
      background: url("../img/bd-portrait-2.png");
      background-size: 140px; }
    @media screen and (max-width: 700px) {
      .bio .portrait {
        display: block;
        margin: 20px auto 40px auto;
        position: inherit; } }
  .bio div + div {
    margin-left: 170px; }
    .bio div + div p {
      margin: 20px 0; }
    .bio div + div p:nth-child(1) {
      font-size: 1.4rem;
      font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif; }
      @media screen and (max-width: 700px) {
        .bio div + div p:nth-child(1) {
          text-align: center; } }
    @media screen and (max-width: 700px) {
      .bio div + div ul {
        text-align: center; } }
    .bio div + div li {
      display: inline-block;
      font-weight: 500; }
      .bio div + div li a {
        margin: 0 4px; }
      .bio div + div li:after {
        content: " · ";
        color: #999999; }
      .bio div + div li:nth-child(1) a {
        margin-left: 0; }
      .bio div + div li:nth-last-child(1):after {
        content: ""; }
    @media screen and (max-width: 700px) {
      .bio div + div {
        margin-left: 0; } }

/* Portfolio
   ========================================================================== */
.methods h4 {
  margin: 1.5em 0 0.2em 0; }
.methods ul {
  margin: 0; }
.methods li {
  font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

/* Content list pages
   ========================================================================== */
.content-description {
  font-size: 0.92rem;
  padding-right: 1rem;
  margin-top: 14px; }
  @media screen and (max-width: 700px) {
    .content-description {
      border-bottom: 1px solid #e6e6e6;
      font-size: 1rem;
      margin-bottom: 40px;
      padding-bottom: 30px;
      padding-right: 0; } }

.content-filter {
  margin-top: 20px; }
  .content-filter li {
    display: inline-block;
    margin: 8px 2px;
    padding: 0; }
  .content-filter a {
    border-radius: 2px;
    font-family: Avenir, "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 4px 8px;
    text-decoration: none;
    text-transform: capitalize; }
    .content-filter a:hover {
      background: #e6e6e6;
      color: #db240d; }
  .content-filter a.selected {
    background: #db240d;
    color: #fff; }
  @media screen and (max-width: 700px) {
    .content-filter {
      text-align: center; } }

.content-items {
  padding-left: 20px; }
  @media screen and (max-width: 700px) {
    .content-items {
      padding-left: 0; } }
  .content-items li {
    margin-bottom: 24px; }
    .content-items li h2 {
      margin: 4px 0;
      text-align: left; }
    .content-items li p {
      margin: 0; }
    .content-items li .meta {
      color: #616161;
      font-size: 0.8rem;
      line-height: 180%;
      padding: 2px 0;
      margin-top: 6px; }
      .content-items li .meta span {
      /* For fixing the weird text height on mobile - requires two spans in the p tag
      @media screen and (max-width: $break-medium) {
      clear: both;
      display: block;
      float: left;
    }*/ }
        .content-items li .meta span:nth-child(1) {
          background: whitesmoke;
          border: 1px solid #e6e6e6;
          border-radius: 2px;
          margin-right: 4px;
          padding: 2px 6px 1px 6px; }
  .content-items.books {
    font-size: 0.92rem;
    margin-top: 2em;
    padding-left: 0; }
    .content-items.books li {
      display: inline-block;
      padding-right: 2em;
      width: 49%; }
      @media screen and (max-width: 700px) {
        .content-items.books li {
          padding-right: 0;
          width: auto; } }
      .content-items.books li h2 {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 600;
        line-height: 130%; }
      .content-items.books li .author {
        color: #242424;
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 0.5em;
        text-align: left; }
      .content-items.books li p {
        margin: 0.5em 0; }
      @media screen and (max-width: 700px) {
        .content-items.books li:nth-child(2n + 1) {
          padding-left: 0; } }
      .content-items.books li div {
        display: inline-block; }
        .content-items.books li div:nth-child(1) {
          position: absolute; }
          .content-items.books li div:nth-child(1) img {
            background: #fff;
            box-shadow: 1px 1px 4px 1px #DADADA;
            height: 110px;
            padding: 2px;
            width: auto; }
            @media screen and (max-width: 700px) {
              .content-items.books li div:nth-child(1) img {
                display: none; } }
        .content-items.books li div:nth-child(2) {
          padding-left: 100px; }
          @media screen and (max-width: 700px) {
            .content-items.books li div:nth-child(2) {
              padding-left: 0; } }

/* Favorite things page
   ========================================================================== */
.favorite-thing {
  margin-bottom: 6em; }
  .favorite-thing img,
  .favorite-thing div {
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 500px) {
      .favorite-thing img,
      .favorite-thing div {
        display: block; } }
  .favorite-thing img {
    height: 120px;
    margin-right: 3em;
    width: 120px; }
    @media screen and (max-width: 500px) {
      .favorite-thing img {
        margin: 0 auto 2em auto; } }
  .favorite-thing h2 {
    margin: 0.5em 0;
    text-align: left; }
    @media screen and (max-width: 500px) {
      .favorite-thing h2 {
        text-align: center; } }
  .favorite-thing p {
    font-size: 1rem;
    margin: 0.5em 0; }

/* ==========================================================================
   Utility
   ========================================================================== */
.primary {
  color: #db240d; }

.green {
  color: #23AD63; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  display: block;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.clear {
  clear: both; }

.small-caps {
  font-variant: small-caps; }

.hidden {
  display: none; }

.no-border {
  border: none; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 1em; }

.mt-3 {
  margin-top: 3em; }

.mt-5 {
  margin-top: 5em; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1em; }

.mb-3 {
  margin-bottom: 3em; }

.mb-5 {
  margin-bottom: 5em; }

.wide {
  max-width: 1080px; }

.bb {
  border-bottom: 2px solid #e6e6e6; }

/*# sourceMappingURL=main.css.map */
