@charset "UTF-8";

/* ==========================================================================
   brandorn.com styles
   Brandon Dorn - 2015
 
 * CONTENTS
 *
 * Global
 * Layout
 * Page-specific
 * Utility
 * Resizing
 ========================================================================== */


/* ==========================================================================
   Global
   ========================================================================== */

/* Color variables
   ========================================================================== */

$primary-color: #E45555;

$faint-grey: hsla(0, 0%, 90%, 1);
$light-grey: hsla(0, 0%, 60%, 1);
$grey: hsla(0, 0%, 45%, 1);
$dark-grey: hsla(0, 0%, 20%, 1);


/* Responsive sizing variables
   ========================================================================== */

$break-medium: 700px;

/* Font variables and declarations
   ========================================================================== */

/*
 * Merriweather (serif)
 */

$serif: 'Merriweather', Georgia, serif;

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Italic.otf") format("opentype");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/*
 * Raleway (sans-serif)
 */

$sans-serif: Avenir, 'Raleway', Helvetica, Arial, sans-serif;

/*
 * For Avenir bolding
 */

$sans-serif-bold: 600;


@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway-Italic.otf") format("truetype");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url("./fonts/Raleway-SemiBoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


/* HTML elements
   ========================================================================== */


html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $sans-serif;
  font-size: 11pt;
  font-weight: normal;
  margin: 0 auto;
  max-width: 900px;
  overflow: scroll;
  padding: 0 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  transition: all 150ms;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $dark-grey;
  font-size: 25pt;
  line-height: 120%;
  margin: 10px 0;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
  line-height: 1;
  margin: 10px 0;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-size: 10pt;
  color: #959595;
  margin: 2px 0 16px 0;
}

p {
  color: $dark-grey;
  font-family: $sans-serif;
  letter-spacing: -0.15pt;
  line-height: 140%;
  margin: 10px 0;
  text-shadow: none;
}

a {
  transition: all 100ms;

  &:link,
  &:visited {
    color: $primary-color;
    text-decoration: none;
  }
  
  &:hover,
  &:active {
    color: darken($primary-color, 10%);
    transition: all 100ms;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

sup {
  font-size: 9pt;
  font-weight: bold;
  padding: 2px;
  position: relative;
  top: -5px;
  vertical-align: top;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    border-bottom: none;
  }

ul {
  list-style-type: none;
  padding: 0;
}

li {
}

hr {
  background: url(../img/hr.svg) no-repeat;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 50px auto 30px auto;
}

blockquote {
  border-left: 2px solid #eee;
  margin: 30px auto;
  max-width: 400px;
  padding: 4px 16px;
    
  p {
    color: #777;
    font-size: 13pt;
    font-style: italic;
    line-height: 1.5;
    margin: 4px 0;
  }

  .author {
    font-style: normal;
    text-align: right;
  }
}

article {
  margin: 0 auto;
  max-width: $break-medium;

  h1 {
    font-family: $serif;
  }

  p {
    font-family: $serif;
    font-size: 1.1em;
    line-height: 170%;
    margin: 30px 0;
    text-shadow: 0px 0px 2px #D3D3D3;
  }
}

header {
  text-align: center;
  margin: 40px 0;

  p {
    color: $grey;
    font-family: $sans-serif;
    line-height: inherit;
    margin: 0;
  }
  
  .description {
    margin: 40px 0 8px 0;;
  }
}
  


/* ==========================================================================
   Layout
   ========================================================================== */
  
  
/* Nav
   ========================================================================== */

nav {
  padding: 32px 0;
  cursor: default;
  border-bottom: 1px solid $faint-grey;

  .logo {
    display: inline-block;
    background: url('../img/logo.svg') no-repeat center;
    border-bottom: none;
  }

  &.big{

    .logo {
      background-size: 60px;
      height: 56px;  
      width: 40px;

      @media screen and (max-width: $break-medium) {
        background-size: 48px;
        height: 48px;  
        width: 34px;
      }
    }

    .logo-text {
      display: inline-block;
      margin: 4px 10px;
      vertical-align: top;

      p {
        margin: 0;
        line-height: 100%;
      }

      p:nth-child(1) {
        color: $primary-color;
        font-family: $sans-serif;
        font-size: 2.4em;
        font-weight: $sans-serif-bold;
        text-transform: lowercase;
      }

      p:nth-child(2) {
        color: $grey;
      }

      @media screen and (max-width: $break-medium) {
        font-size: .9em;
      }
    }
  }

  &.small {
    border-bottom: none;
    padding-bottom: 10px;

    .logo {
      background-size: 38px;
      height: 38px;
      width: 38px;
    }

    .forward-slash {
      width: 1px;
      height: 32px;
      background: #CCC;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      padding: 0;
      margin: 4px 16px 0 12px;
    }

    div {
      display: inline-block;
      vertical-align: top;
      padding-top: 7px;
    }

    p {
      font-size: 1.4em;
      font-weight: bold;
      margin: 0;
      text-transform: lowercase;
      vertical-align: middle;

      a {
        border-bottom: none;
      }
    }
  }

}
    
/* Content
   ========================================================================== */

.content {
  margin: 0 auto;
}

.footnotes {
  margin: 60px 0 120px 0;
  color: #bbb;

  p {
    font-size: 11pt;
    margin: 4px 0;
    color: #777;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
  
  .footnotes > li {
    counter-increment: nodecimal;
    display: block;
  }
  
  .footnotes > li:before {
    content: counter(nodecimal) " ";
    float: left;
    width: 20px;
    margin-top: 2px;
  }
    
  .footnotes:first-child {
    counter-reset: nodecimal;
  }


/* Footer
   ========================================================================== */

footer {
  p {
    color: #888;
    font-size: .8rem;
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

/* Home
   ========================================================================== */

.home-block {
  padding: 10px 0 40px 0;
  border-bottom: 1px solid $faint-grey;

  h2 {
    margin: 4px 0;
  }

  p {
    margin:0;
  }

  .grid__col {
    margin-top: 30px;
  }
}

.bio {
  padding: 40px 0;

  img {
    border-radius: 50%;
    display: inline-block;
    height: 86px;
    margin-top: 16px;
    position: absolute;
    vertical-align: top;
    width: 86px;

    @media screen and (max-width: $break-medium) {
      display: block;
      margin: 20px auto 40px auto;
      position: inherit;
    }
  }

  div {
    margin-left: 114px;

    p {
      margin: 20px 0;
    }

    p:nth-child(1) {
      font-family: $sans-serif;
      font-size: 1.3em;

      @media screen and (max-width: $break-medium) {
        text-align: center;
      }
    }

    ul {
      @media screen and (max-width: $break-medium) {
        text-align: center;
      }
    }

    li {
      display: inline-block;
      font-weight: bold;

      a {
        border-bottom: none;
        font-size: 1em;
        margin: 0 4px;
      }
    
      &:after {
        content: " ·";
        color: $light-grey;
      }

      &:nth-child(1) a{
          margin-left: 0;
        }

      &:nth-last-child(1):after {
        content: "";
      }
    }
    @media screen and (max-width: $break-medium) {
      margin-left: 0;
    }
  }
}


/* Content list pages
   ========================================================================== */


.content-filter {

  margin-top: 20px;

  li {
    display: inline-block;
    margin: 8px 2px;
    padding: 0;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  a {
    border-radius: 2px;
    font-weight: bold;
    padding: 4px 8px;
  }

  a:hover {
    background: $faint-grey;
  }

  a.selected {
    background: $primary-color;
    color: #fff;
  }

  @media screen and (max-width: $break-medium) {
    border-bottom: 1px solid #EEE;
    margin-bottom: 40px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.content-list {
  li {
    margin-bottom: 24px;

    h2 {
      margin: 4px 0;
    }

    p {
      margin: 0;
    }

    .meta {
      color: $grey;
      font-size: .86em;
      margin-top: 6px;
    }
  }
}


/* About
   ========================================================================== */

article.about > ul {
  clear: both;
}

  
.about #tabs {
}

  .about #tabs > ul {
    float: none;
    margin: 50px auto;
    text-align: center;
  }
  
  .about #tabs > ul li {
    display: inline-block;
    padding: 8px 10px 6px 10px;
    border-radius: 2px;
    text-align: center;
  }

    .about #tabs > ul li:focus {
      outline: none;
      color: firebrick;
    }
  
      .about #tabs > ul li a {
        font-size: 12pt;
        padding: 6px 10px;
        border-bottom: 2px solid #fff;
      }
       
        .about #tabs > ul li a:link,
        .about #tabs > ul li a:visited {
          color: #777;
        }
        
        .about #tabs > ul li a:hover,
        .about #tabs > ul li a:active {
          color: firebrick;
          border-bottom: 2px solid #fff;
        }
       
        .about #tabs > ul li a:focus {
          background: none;
          outline: none;
        }
       
      .about #tabs > ul li.ui-state-active {
        background: firebrick;
        transition: 300ms;
      }
       
        .about #tabs > ul li.ui-state-active a {
          color: #fff;
          font-weight: bold;
        }

  #process .steps {
    border-bottom: 1px solid #eee;
    margin-top: 80px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  #process h3 {
    font-size: 16pt;
    margin: 10px 0 30px 0;
  }
  
  #process p {
    text-align: left;
  }
  
  #process ol {
    list-style: decimal;
    margin-left: 40px;
  }
     
    #process ol p{
      color: #777;
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
      font-size: 12pt;
      letter-spacing: 0pt;
      line-height: 140%;
    }
  
  #process b {
    color: #3f3f3f;
  }
  
  #process .methods {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 11pt;
    line-height: 1.2;
    margin: 50px auto;
    text-align: left;
  }
  
    #process .methods th {
      background: #f6f6f6;
      color: #aaa;
      font-weight: bold;
      margin-bottom: 14px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
    
    #process .methods tr {
      border-top: 1px solid #eee;
    }
    
    #process .methods td {
      border-right: 1px solid #eee;
      padding: 12px;
    }
    
    #process .methods li {
      margin-bottom: 10px;
    }
  




/* ==========================================================================
   Utility
   ========================================================================== */

.primary {
  color: $primary-color;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* ==========================================================================
   Resizing
   ========================================================================== */

@media screen and (max-width: 600px){
    
  nav {
  }
    
  .logo {
  }

}








