@charset "UTF-8";

/* ==========================================================================
   brandorn.com styles
   Brandon Dorn - 2015
 
 * CONTENTS
 *
 * Global
 * Layout
 * Page-specific
 * Utility
 * Resizing
 ========================================================================== */


/* ==========================================================================
   Global
   ========================================================================== */

/* Color variables
   ========================================================================== */

$primary-color: #E45555;

$faint-grey: hsla(0, 0%, 90%, 1);
$light-grey: hsla(0, 0%, 60%, 1);
$grey: hsla(0, 0%, 40%, 1);
$dark-grey: hsla(0, 0%, 10%, 1);


/* Font variables and declarations
   ========================================================================== */

/*
 * Merriweather (serif)
 */

$serif: 'Source Serif Pro', Georgia, serif;

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-Italic.otf") format("opentype");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/*
 * Raleway (sans-serif)
 */

$sans-serif: Avenir, 'Raleway', Helvetica, Arial, sans-serif;

/*
 * For Avenir bolding
 */

$sans-serif-bold: 600;


@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-Italic.otf") format("truetype");
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-SemiBoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


/* HTML elements
   ========================================================================== */


html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: #3f3f3f;
  font-family: $sans-serif;
  padding: 0 20px;
  margin: 0 auto 40px auto;
  max-width: 900px;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  transition: all 150ms;
}

h1 {
  font-size: 25pt;
  line-height: 120%;
  margin: 10px 0;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-size: 10pt;
  color: #959595;
  margin: 2px 0 16px 0;
}

p {
  color: $dark-grey;
  font-size: 14pt;
  letter-spacing: -0.2pt;
  line-height: 160%;
  margin: 20px 0;
  text-shadow: none;
}

a {
  transition: all 100ms;

  &:link,
  &:visited {
    color: $primary-color;
    //border-bottom: 2px solid $faint-grey;
    text-decoration: none;
  }
  
  &:hover,
  &:active {
    color: darken($primary-color, 10%);
    //border-bottom: 2px solid $primary-color;
    transition: all 100ms;
  }
}

sup {
  font-size: 9pt;
  font-weight: bold;
  padding: 2px;
  position: relative;
  top: -5px;
  vertical-align: top;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    color: firebrick;
    border-bottom: none;
  }
  
  .footnotes .returnUp:hover {
    text-decoration: underline;
  }

ul {
  list-style-type: none;
  padding: 0;
}

li {
}

hr {
  background: url(../img/hr.svg) no-repeat;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 50px auto 30px auto;
}

blockquote {
  border-left: 2px solid #eee;
  margin: 30px auto;
  max-width: 400px;
  padding: 4px 16px;
    
  p {
    color: #777;
    font-size: 13pt;
    font-style: italic;
    line-height: 1.5;
    margin: 4px 0;
  }
}

  blockquote .author {
    font-style: normal;
    text-align: right;
  }
  
  blockquote sup {
    font-style: normal;
  }

  article {
    margin: 0 auto;

    p {
      font-family: $serif;
    }
  }
  


/* ==========================================================================
   Layout
   ========================================================================== */
  
  
/* Nav
   ========================================================================== */

nav {
  padding: 32px 0;
  cursor: default;
  border-bottom: 1px solid $faint-grey;

  .logo {
    display: inline-block;
    background: url('../img/logo.svg') no-repeat center;
    border-bottom: none;
  }

  &.big{

    .logo {
      background-size: 60px;
      height: 56px;  
      width: 40px;
    }

    .logo-text {
      display: inline-block;
      margin: 1px 10px;
      vertical-align: top;

      li > p {
        margin: 0;
        line-height: 100%;
      }

      li:nth-child(1) p {
        color: $primary-color;
        font-size: 2.4em;
        font-weight: $sans-serif-bold;
        padding-bottom: 4px;
        text-transform: lowercase;
      }

      li:nth-child(2) p {
        color: $grey;
        font-size: .9em;  
      }
    }
  }

  &.small {
    border-bottom: none;

    .logo {
      background-size: 38px;
      height: 38px;
      width: 38px;
    }

    .forward-slash {
      width: 1px;
      height: 32px;
      background: #CCC;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      padding: 0;
      margin: 4px 16px 0 12px;
    }

    div {
      display: inline-block;
      vertical-align: top;
      padding-top: 6px;
    }

    p {
      font-weight: bold;
      margin: 0;
      text-transform: lowercase;
      vertical-align: middle;

      a {
        border-bottom: none;
      }
    }
  }

}
    
/* Content
   ========================================================================== */

.content {
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 60px 0;

  p {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 11pt;
    margin: 0;
  }
  
  .description {
    font-size: 12pt;
    line-height: 130%;
    margin: 50px 0 8px 0;;
  }
}

.footnotes {
  margin: 60px 0 120px 0;
  color: #bbb;

  p {
    font-size: 11pt;
    margin: 4px 0;
    color: #777;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
  
  .footnotes > li {
    counter-increment: nodecimal;
    display: block;
  }
  
  .footnotes > li:before {
    content: counter(nodecimal) " ";
    float: left;
    width: 20px;
    margin-top: 2px;
  }
    
  .footnotes:first-child {
    counter-reset: nodecimal;
  }


/* Footer
   ========================================================================== */

footer {
  p {
    color: #888;
    font-size: .8rem;
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

/* Home
   ========================================================================== */

.home-block {
  padding: 20px 0 40px 0;
  border-bottom: 1px solid $faint-grey;

  h2 {
    margin: 4px 0;
  }

  p {
    font-size: .9rem;
    line-height: 130%;
    margin:0;
  }

  .grid {
    margin-top: 20px;
  }
}

.bio {

  img {
    background: #eee;
    border-radius: 50%;
    display: inline-block;
    height: 86px;
    margin-top: 16px;
    position: absolute;
    vertical-align: top;
    width: 86px;
  }

  div {
    margin-left: 114px;

    p {
      margin: 20px 0;
    }

    p:nth-child(1) {
      font-size: 1rem;
    }

    li {
      display: inline-block;
      font-size: .94rem;
      font-weight: bold;

      a {
        border-bottom: none;
        margin: 0 4px;
      }
    
      &:after {
        content: " ·";
      }

      &:nth-child(1) a{
          margin-left: 0;
        }

      &:nth-last-child(1):after {
        content: "";
      }
    }
  }
}





/* About
   ========================================================================== */

article.about > ul {
  clear: both;
}

  
.about #tabs {
}

  .about #tabs > ul {
    float: none;
    margin: 50px auto;
    text-align: center;
  }
  
  .about #tabs > ul li {
    display: inline-block;
    padding: 8px 10px 6px 10px;
    border-radius: 2px;
    text-align: center;
  }

    .about #tabs > ul li:focus {
      outline: none;
      color: firebrick;
    }
  
      .about #tabs > ul li a {
        font-size: 12pt;
        padding: 6px 10px;
        border-bottom: 2px solid #fff;
      }
       
        .about #tabs > ul li a:link,
        .about #tabs > ul li a:visited {
          color: #777;
        }
        
        .about #tabs > ul li a:hover,
        .about #tabs > ul li a:active {
          color: firebrick;
          border-bottom: 2px solid #fff;
        }
       
        .about #tabs > ul li a:focus {
          background: none;
          outline: none;
        }
       
      .about #tabs > ul li.ui-state-active {
        background: firebrick;
        transition: 300ms;
      }
       
        .about #tabs > ul li.ui-state-active a {
          color: #fff;
          font-weight: bold;
        }
  
  .about button {
    background: none;
    border: 1px solid #eee;
    border-radius: 2px;
    color: #3f3f3f;
    cursor: pointer;
    font-size: 9pt;
    margin-top: 10px;
    padding: 6px 10px;
    transition: all 200ms;
  }
  
    .about button:hover,
    .about button:active,
    .about button:focus {
      border: 1px solid #ccc;
      color: firebrick;
    }

.about-pic {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

  #process .steps {
    border-bottom: 1px solid #eee;
    margin-top: 80px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  #process h3 {
    font-size: 16pt;
    margin: 10px 0 30px 0;
  }
  
  #process p {
    text-align: left;
  }
  
  #process ol {
    list-style: decimal;
    margin-left: 40px;
  }
     
    #process ol p{
      color: #777;
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
      font-size: 12pt;
      letter-spacing: 0pt;
      line-height: 140%;
    }
  
  #process b {
    color: #3f3f3f;
  }
  
  #process .methods {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 11pt;
    line-height: 1.2;
    margin: 50px auto;
    text-align: left;
  }
  
    #process .methods th {
      background: #f6f6f6;
      color: #aaa;
      font-weight: bold;
      margin-bottom: 14px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
    
    #process .methods tr {
      border-top: 1px solid #eee;
    }
    
    #process .methods td {
      border-right: 1px solid #eee;
      padding: 12px;
    }
    
    #process .methods li {
      margin-bottom: 10px;
    }
  




/* ==========================================================================
   Utility
   ========================================================================== */

.primary {
  color: $primary-color;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* ==========================================================================
   Resizing
   ========================================================================== */

@media screen and (max-width: 600px){
    
  nav {
  }
    
  .logo {
  }

}








