@charset "UTF-8";

/* ==========================================================================
   brandorn.com styles
   Brandon Dorn - 2015
 
 * CONTENTS
 *
 * Global
 * Layout
 * Page-specific
 * Utility
 ========================================================================== */


/* ==========================================================================
   Global
   ========================================================================== */

/* Color variables
   ========================================================================== */

$primary-color: #E45555;

$faint-grey: hsla(0, 0%, 90%, 1);
$light-grey: hsla(0, 0%, 60%, 1);
$grey: hsla(0, 0%, 35%, 1);
$dark-grey: hsla(0, 0%, 20%, 1);

$green: #23AD63;


/* Responsive sizing variables
   ========================================================================== */

$break-medium: 700px;
$break-large: 1080px;

/* Font variables and declarations
   ========================================================================== */

/*
 * PT Serif (serif)
 */

$serif: 'PT Serif', Georgia, serif;

@font-face {
  font-family: PT Serif;
  src: url("fonts/pt-serif-normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PT Serif;
  src: url("fonts/pt-serif-normal-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: PT Serif;
  src: url("fonts/pt-serif-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: PT Serif;
  src: url("fonts/pt-serif-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*
 * Raleway (sans-serif)
 */

$sans-serif: Avenir, 'Raleway', Helvetica, Arial, sans-serif;

/*
 * For Avenir bolding
 */

$sans-serif-bold: 600;

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-normal-italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Raleway;
  src: url("fonts/raleway-semi-bold-italic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*
 * Font sizes
 */

 $small-type: .92em;


/* HTML elements
   ========================================================================== */


html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $sans-serif;
  font-size: 11pt;
  font-weight: normal;
  margin: 0 auto;
  max-width: 900px;
  overflow: scroll;
  padding: 0 20px;
  transition: all 150ms;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $dark-grey;
  font-size: 25pt;
  line-height: 120%;
  margin: 10px 0;
}

h2 {
  color: $dark-grey;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  margin: 12px 0;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  color: #959595;
  margin: 2px 0 16px 0;
}

p {
  color: $dark-grey;
  font-family: $sans-serif;
  letter-spacing: -0.15pt;
  line-height: 140%;
  margin: 10px 0;
  text-shadow: 0 0 1px #ddd;
}

a {
  transition: all 100ms;

  &:link,
  &:visited {
    color: $primary-color;
    text-decoration: none;
  }
  
  &:hover,
  &:active {
    color: darken($primary-color, 10%);
    transition: all 100ms;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

sup {
  font-size: 9pt;
  font-weight: bold;
  padding: 2px;
  position: relative;
  top: -5px;
  vertical-align: top;
}

  sup a:link,
  sup a:visited,
  .footnotes .returnUp:link,
  .footnotes .returnUp:visited {
    text-decoration: none;
    border-bottom: none;
  }

ul {
  list-style-type: none;
  padding: 0;
}

li {
}

hr {
  background: url(../img/hr.svg) no-repeat;
  border: 0;
  width: 40px;
  height: 40px;
  margin: 50px auto 30px auto;
}

blockquote {
  border-left: 2px solid #eee;
  margin: 30px auto;
  max-width: 400px;
  padding: 4px 16px;
    
  p {
    color: #777;
    font-size: 13pt;
    font-style: italic;
    line-height: 1.5;
    margin: 4px 0;
  }

  .author {
    font-style: normal;
    text-align: right;
  }
}

article {
  margin: 0 auto 50px auto;
  max-width: $break-medium;

  h1 {
    font-family: $serif;
  }

  h2 {
    margin-top: 36px;
    text-align: center;
  }

  p, 
  li {
    font-family: $serif;
    font-size: 1.16em;
    line-height: 160%;
    margin-bottom: 2em;
    text-shadow: 0px 0px 1px #ddd;
  }

  .summary p {
    font-family: $sans-serif;
    font-size: 1em;
    line-height: 150%;
    text-indent: 0;
  }
}

header {
  text-align: center;
  margin: 40px 0 60px 0;

  p, li {
    color: $grey;
    font-family: $sans-serif;
    line-height: inherit;
    margin: 0;
    text-indent: 0;
  }
  
  .description {
    margin: 40px auto 0 auto;
    max-width: 520px;
  }

  /*
   * For the methodology items in the portfolio.
   */
  ul {
    margin: 20px auto;
    width: 80%;
  }

  li {
    display: inline-block;
    font-size: $small-type;

    &:after {
        content: " ·";
        color: $light-grey;
      }

      &:nth-child(1) {
          margin-left: 0;
        }

      &:nth-last-child(1):after {
        content: "";
      }
  }
}

figure {
  margin: 7% 0;
  vertical-align: top;

  &.double-wide {
    width: 140%;
    margin-left: -20%;

    @media screen and (max-width: $break-large) {
      float: none;
      width: 100%;
      margin: 5% 0;
    }
  }

  &.to-the-left {
    float: left;
    width: 50%;
    margin: 2% 5%;
    margin-left: -20%;

    @media screen and (max-width: $break-large) {
      float: none;
      width: 100%;
      margin: 5% 0;
    }
  }

  &.to-the-right {
    float: right;
    width: 50%;
    margin: 2% 5%;
    margin-right: -20%;

    @media screen and (max-width: $break-large) {
      float: none;
      width: 100%;
      margin: 5% 0;
    }
  }

  &.two-up{
    display: inline-block;
    margin: 5% 2%;
    width: 45%;

    @media screen and (max-width: $break-large) {
      display: block;
      width: 100%;
      margin: 5% 0;
    }
  }
}

figcaption {
  color: $grey;
  font-family: $sans-serif;
  font-size: $small-type;
  margin: .5em 0;
}

img {
  display: block;
  width: 100%;

  &.fake {
    background: $faint-grey;
  }
}
  


/* ==========================================================================
   Layout
   ========================================================================== */
  
  
/* Nav
   ========================================================================== */

nav {
  padding: 32px 0;
  cursor: default;
  border-bottom: 1px solid $faint-grey;

  .logo {
    display: inline-block;
    background: url('../img/logo.svg') no-repeat center;
    border-bottom: none;
  }

  p {
    font-family: $sans-serif;
  }

  &.big{

    .logo {
      background-size: 60px;
      height: 56px;  
      width: 40px;

      @media screen and (max-width: $break-medium) {
        background-size: 48px;
        height: 48px;  
        width: 34px;
      }
    }

    .logo-text {
      display: inline-block;
      margin: 4px 10px;
      vertical-align: top;

      p {
        margin: 0;
        line-height: 100%;
      }

      p:nth-child(1) {
        color: $primary-color;
        font-size: 2.4em;
        font-weight: $sans-serif-bold;
        text-transform: lowercase;
      }

      p:nth-child(2) {
        color: $grey;
      }

      @media screen and (max-width: $break-medium) {
        font-size: $small-type;
      }
    }
  }

  &.small {
    border-bottom: none;
    padding-bottom: 10px;

    .logo {
      background-size: 38px;
      height: 38px;
      width: 38px;
    }

    .forward-slash {
      width: 1px;
      height: 32px;
      background: #CCC;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      padding: 0;
      margin: 4px 16px 0 12px;
    }

    div {
      display: inline-block;
      vertical-align: top;
      padding-top: 7px;
    }

    p {
      font-size: 1.4em;
      font-weight: bold;
      margin: 0;
      text-transform: lowercase;
      vertical-align: middle;

      a {
        border-bottom: none;
      }
    }
  }

}
    
/* Content
   ========================================================================== */

.content {
  margin: 0 auto;
}

.footnotes {
  margin: 60px 0 120px 0;
  color: #bbb;

  p {
    font-size: 11pt;
    margin: 4px 0;
    color: #777;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}
  
  .footnotes > li {
    counter-increment: nodecimal;
    display: block;
  }
  
  .footnotes > li:before {
    content: counter(nodecimal) " ";
    float: left;
    width: 20px;
    margin-top: 2px;
  }
    
  .footnotes:first-child {
    counter-reset: nodecimal;
  }


/* Footer
   ========================================================================== */

footer {
  p {
    color: #888;
    font-family: $sans-serif;
    font-size: .8rem;
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

/* Home
   ========================================================================== */

.home-block {
  padding: 10px 0 40px 0;
  border-bottom: 1px solid $faint-grey;

  h2 {
    margin: 4px 0;
  }

  p {
    margin:0;
  }

  .grid__col {
    margin-top: 30px;
  }
}

.bio {
  padding: 40px 0;

  img {
    border-radius: 50%;
    display: inline-block;
    height: 86px;
    margin-top: 16px;
    position: absolute;
    vertical-align: top;
    width: 86px;

    @media screen and (max-width: $break-medium) {
      display: block;
      margin: 20px auto 40px auto;
      position: inherit;
    }
  }

  div {
    margin-left: 114px;

    p {
      margin: 20px 0;
    }

    p:nth-child(1) {
      font-size: 1.4em;

      @media screen and (max-width: $break-medium) {
        text-align: center;
      }
    }

    ul {
      @media screen and (max-width: $break-medium) {
        text-align: center;
      }
    }

    li {
      display: inline-block;
      font-weight: bold;

      a {
        border-bottom: none;
        font-size: 1em;
        margin: 0 4px;
      }
    
      &:after {
        content: " ·";
        color: $light-grey;
      }

      &:nth-child(1) a{
          margin-left: 0;
        }

      &:nth-last-child(1):after {
        content: "";
      }
    }
    @media screen and (max-width: $break-medium) {
      margin-left: 0;
    }
  }
}


/* Content list pages
   ========================================================================== */


.content-description {
  font-size: $small-type;
  margin-top: 14px;

  @media screen and (max-width: $break-medium) {
    border-bottom: 1px solid $faint-grey;
    font-size: 1em;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
}

.content-filter {

  margin-top: 20px;

  li {
    display: inline-block;
    margin: 8px 2px;
    padding: 0;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  a {
    border-radius: 2px;
    font-weight: bold;
    padding: 4px 8px;
  
    &:hover {
      background: $faint-grey;
      color: $primary-color;
    }
  }

  a.selected {
    background: $primary-color;
    color: #fff;
  }

  @media screen and (max-width: $break-medium) {
    text-align: center;
  }

}

.content-list {
  padding-left: 20px;

  @media screen and (max-width: $break-medium) {
    padding-left: 0;
  }

  li {
    margin-bottom: 24px;

    h2 {
      margin: 4px 0;
    }

    p {
      margin: 0;
    }

    .meta {
      color: $grey;
      font-size: .86em;
      margin-top: 6px;
    }
  }
}


/* ==========================================================================
   Utility
   ========================================================================== */

.primary {
  color: $primary-color;
}

.green {
  color: $green;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small-caps {
  font-variant: small-caps;
}

