
html {
  -webkit-text-size-adjust: 100%;
  background: #f7f7f7;
  box-sizing: border-box;
  font-size: 100%;
  text-rendering: optimizeLegibility;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-tiny) { font-size: 94%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $color-primary;
  font-family: $sans-serif;
  font-variant-ligatures: normal;
  line-height: 140%;
  margin: 2rem auto 8rem auto;
  max-width: 1000px;
  overflow: scroll;
  padding: 0 2em;

  @media all and (min-width: $break-large) { max-width: 1100px; }
  @media all and (max-width: $break-tiny) { padding: 0 1rem; }

}

h1 {
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 140%;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.4rem;
  line-height: 140%;
  margin: 4rem 0 1rem 0;
}

.home h2 { 
  color: $color-secondary;
  font-size: 0.72rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 6em 0 2em 0;
  text-transform: uppercase;
}

h3 { 
  color: $color-secondary;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
}

p { 
  font-size: 1rem;
  line-height: 170%; 
  margin: .5rem 0 1.5rem 0;

  &.text-secondary {
    color: $color-secondary;
    font-size: $type-secondary;
  }

  &.big { 
    font-size: 1.5rem;
    line-height: 150%;
  }
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  
  &:link,
  &:visited {
    border-bottom: 1px solid $color-tertiary;
    color: $color-primary;
  }
  
  &:hover,
  &:active {
    border-bottom: 1px solid $color-primary;
  }

}

blockquote {
  margin-bottom: 2rem;
  
  p { 
    font-size: $type-secondary;
    margin-bottom: 1rem;
  }

  cite {
    color: $color-secondary;
    display: block;
    font-size: 0.8rem;
    font-style: normal;
    margin-top: -0.5rem;
    &:before { content: " – " }
  }

  @media screen and (max-width: $break-medium) { 
    margin: 24px 12px; 
    width: auto;
  }
} // blockquote

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li { list-style: disc; }
}

ol {
  display: block;
  margin: 1em 0;
  margin-left: 0;
  padding-left: 0;
}

li {
  line-height: 160%;
  margin: 1em 0;
  vertical-align: top;
}

hr {
  height: 2px;
  background: $color-tertiary;
  border: none;
  margin: 6em auto;
  width: 6rem;
}

table { margin: 2em 0; }

td,
th {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

thead th { }

i { 
  font-style: italic; 
  font-weight: normal;
}

strong {font-weight: bold; }

*::selection { background: #c0f5ff; }

*:focus { outline: 1px dotted #eee; }