
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  
  font-size: 104%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-small) { font-size: 104%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $black-01;
  font-family: $sans;
  font-size: 1rem;
  font-variant-ligatures: normal;
  line-height: 140%;
  margin: 2rem auto 8rem auto;
  max-width: 1100px;
  overflow: scroll;
  padding: 0 2em;

  @media all and (min-width: $break-large) { max-width: 1280px; }
  @media all and (max-width: $break-small) { width: 100%; }
  @media all and (max-width: $break-tiny) { padding: 0 1rem; }

}

// h1 {  }

h2 { 
  margin: 1rem 0;
}

// h3 { }

// p { }

a {
  @include transition-primary;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  
  &:link,
  &:visited {
    // border-bottom: 2px solid $black-03;
    color: $black-01;
    text-decoration: underline;
  }
  
  &:hover,
  &:active { 
    // border-bottom: 2px solid $black-03;
    color: $red-02;
    text-decoration: underline;
  }
} // a

button:not(.pswp__button) {
  @include transition-primary;
  background: #fff;
  border: 1px solid $red-02;
  margin: 1rem 0;
  padding: 0.6rem 1rem;

  &:hover { background-color: $highlight-red; }

  &.secondary { border: 1px solid transparent; } 
  
  a {
    @include label-small;
    display: flex;
    justify-content: center;

    &:link,
    &:visited { 
      color: $red-02;
      text-decoration: none;
    }
    
    &:hover,
    &:active { 
      color: $red-02;
      text-decoration: none;
    }
  } // a  

  &.email {
    a::before {
      background: url("/img/icon-email.svg") 50% no-repeat;
      content: "";
      height: 12px;
      width: 14px;
      margin-top: 3px;
      margin-right: 6px;
    }
  } // .arrow

  &.arrow {
    a::after {
      background: url("/img/icon-arrow.svg") 50% no-repeat;
      content: "";
      height: 12px;
      width: 12px;
      margin-top: 4px;
      margin-left: 6px;
    }
  } // .arrow
}

.button-set {
  button:nth-child(n+2) { margin-left: 1rem; }
  display: flex;

  &.centered {
    margin-top: 2rem;
    text-align: center;
  }
}

// Photoswipe UI Overrides

.pswp__top-bar button:hover { background-color: #000; }



blockquote {
  @include body-sans-medium;

  margin: 4rem auto;
  max-width: $body-content-width;

  p {
    border-left: 2px solid $black-04;
    font-style: italic !important;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }

  cite {
    @include body-sans-small;

    color: $black-02;
    font-style: normal;
    margin-left: 2rem;
    &:before { content: " – " }
  }
} // blockquote

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  // li { }
}

ol {
  display: block;
  margin: 1em 0;
  margin-left: 2rem;
  padding-left: 0;
}

li {
  line-height: 160%;
  margin: 1em 0;
  vertical-align: top;
}

hr {
  height: 1px;
  background: $black-04;
  border: none;
  margin: 3em auto;
  width: 7rem;
}

table { margin: 2em 0; }

td,
th {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

// thead th { }

i { 
  font-style: italic; 
  font-weight: normal;
}

b,
strong {
  font-weight: 500; 
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  &.ft { margin: 4rem auto; }

  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


*::selection { background: $highlight-yellow; }

*:focus { outline: 1px dotted #eee; }