

/* === Serif === */


/* === Sans-serif === */

@font-face {
  src: url(/src/fonts/BentonSans-Regular.ttf);
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(/src/fonts/BentonSans-RegularItalic.ttf);
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: normal;
} 

@font-face {
  src: url(/src/fonts/BentonSans-Medium.ttf);
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url(/src/fonts/BentonSans-MediumItalic.ttf);
  font-family: 'Benton Sans';
  font-style: italic;
  font-weight: 600;
}

$sans-serif: "Benton Sans", -apple-system, Helvetica, Arial, sans-serif;
.sans-serif { font-family: $sans-serif; }


/* Font sizes
   ================================ */

   $type-secondary: 0.9rem;
