img { width: 100%; }


figure {
  @include body-sans-small;

  color: $black-02;
  margin: 2rem auto;
  vertical-align: top;

  img {
    display: block;
    width: 100%;
  }

  &.image-left,
  &.image-right {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media all and (max-width: $break-small) { display: block; }

    a { width: 68%; }

    img {
      width: 64%;

      @media all and (max-width: $break-small) { width: 100%; }
    }

    figcaption { 
      margin-top: 6vw;
      width: 22%; 

      @media all and (max-width: $break-small) { 
        margin: 1rem auto;
        max-width: 28rem;
        width: auto;
      }
    } // figcaption

    &.tall {
      max-width: $break-small;

      a { max-width: 30rem; }
    } // .tall
  } // .image-left, .image-right

  &.image-right {
    flex-direction: row-reverse;
  }

  &.full-width {
    margin-left: -10%;
    width: 120%;

    @media all and (max-width: 1180px) { 
      margin-left: -5%;
      width: 110%;
    }

    @media all and (max-width: $break-small) {
      margin-left: 0;
      width: 100%;
    }
  }

  &.almost-body-width {
    margin: 4rem auto;
    width: 80%;

    @media all and (max-width: $break-small) { width: 100%; }
  }

  &.content-width {
    margin: 4rem auto;
    max-width: $body-content-width;

    &.tall { max-width: 30rem; }
  }
} // figure

// put two figures in a div for side-by-side
.two-up-container {
  display: flex;
  justify-content: space-between;
  margin-left: -5%;
  width: 110%;

  figure { width: 48%; }

  @media all and (max-width: $break-medium) {
    display: block;
    margin-left: 0;
    width: 100%;

    figure { width: 100%; }
  }
}

figcaption {

  @include body-sans-extra-small;
  color: $black-02;
  margin: 1rem auto;
  max-width: 28rem;
  width: auto;

  a:link,
  a:visited { 
    color: $black-02; 
  }

  a:hover, 
  a:active { color: $black-01;}

  @media all and (max-width: $break-small) { 
    margin: 1rem auto;
  }
} // figcaption

