/* === Reused === */

header.page-intro {
	margin-bottom: 6rem;
	max-width: 600px;

	p { @include body-sans-large }
}


/* === Home === */


.select-clients {
	margin: 6rem 0 4rem 0;

	.label { @include label-small; }

	.client-list {
		display: flex;
		flex-wrap: wrap;

		@media all and (max-width: 620px) { display: block; }

		.column {
			margin-right: 4rem;

			@media all and (max-width: $break-small) { margin-right: 2rem; }

			&:nth-last-child(1) { margin-right: 0; }

			p { 
				@include body-sans-small;
				margin: 0 0 0.5rem 0;
			}
		}
	} // .client-list
} // .select-clients


.case-study-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4rem;

	a {
		display: block;
		flex: 0 0 29.333333%;
		margin: 0 4% 5rem 0;

		@media all and (max-width: $break-medium) { 
			flex: 0 46%;
			margin: 0 4% 3rem 0;
		}

		@media all and (max-width: 540px) { flex: 0 100%; }

		&:link,
		&:visited,
		&:active,
		&:hover { 
			color: $black-01;
			text-decoration: none; 
		}
	} // a

	.case-study-preview {
		@include fade-up-in;
		animation-delay: calc(0.3s * var(--index));

		&:hover {
			.thumb { 
				@include transition-primary;
				transition: 300ms all;
				background-position: center calc(50% - 4px);
				opacity: 0.8;
			}

			.title { color: $black-02; }
		}

		.thumb {
			@include transition-primary;
			background-position: center calc(50% + 4px);
			background-repeat: no-repeat;
			background-size: 90%;
			height: 30vw;
			max-height: 300px;
		 	width: 100%;

		 	@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { background-size: contain; }
		 	@media all and (max-width: $break-medium) {
		 		height: 40vw;
		 	}
		 	@media all and (max-width: 540px) { 
		 		height: 70vw;	
		 	}
		}

		&.arcadia { 
			.thumb { 
				background-color: $highlight-green;
				background-image: url('/img/design/arcadia/arcadia-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/arcadia/arcadia-thumb@2x.png');
				}
			}
		}

		&.cybergrx { 
			.thumb { 
				background-color: $highlight-blue;
				background-image: url('/img/design/cybergrx/cybergrx-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/cybergrx/cybergrx-thumb@2x.png');
				}
			}
		}

		&.nsc { 
			.thumb { 
				background-color: $highlight-purple;
				background-image: url('/img/design/nsc/nsc-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/nsc/nsc-thumb@2x.png');
				}
			}
		}

		&.darden { 
			.thumb {
				background-color: $highlight-orange;
				background-image: url('/img/design/darden/darden-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/darden/darden-thumb@2x.png');
				}
			}
		}

		&.privia { 
			.thumb { 
				background-color: $highlight-yellow;
				background-image: url('/img/design/privia/privia-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/privia/privia-thumb@2x.png');
				}
			}
		}

		&.rotary { 
			.thumb { 
				background-color: $highlight-red;
				background-image: url('/img/design/rotary/rotary-thumb@1x.png');

				@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) { 
					background-image: url('/img/design/rotary/rotary-thumb@2x.png');
				}
			}
		}

		.title {
			@include label-large;
			margin: 1.5rem 0 0 0;
		}

		.description {
			@include body-sans-large;
			margin: 0.3rem 0 0.5rem 0;
		}

		.type {
			@include label-small;
			color: $black-02;
			margin: 0;
		}


	} // .case-study-preview

} //.home-grid

.desiderata {
	border-color: $black-01;
	border-style: double;
	border-width: 4px;
	max-width: 580px;
	margin: 8rem auto;
	padding: 2rem 3rem;

	@media all and (max-width: $break-tiny) { padding: 0.5rem 1rem; }

	.quote { 
		@include body-serif-small;

		.drop-cap {
			float: left;
			height: 120px;
			margin: 0 10px 0 -4px;
			width: 120px;
		}

		span {
		  color: transparent;
		  margin-left: -13px;
		}
	}
	.source { 
		@include body-sans-small;
		margin-top: 2rem;
	}
}


/* === Photography === */

.photo-journal-list {

	.label {
		@include label-small;

		color: $black-02;
		margin-bottom: -0.5rem;
	}

	.photo-journals { 
		display: flex;
		flex-wrap: wrap;

		@media all and (max-width: $break-medium) { justify-content: space-between; }
		@media all and (max-width: $break-tiny) { display: block; }
	}

	.photo-journal-preview {
		@include fade-up-in;
		animation-delay: calc(0.2s * var(--index));
		flex-basis: 33.333333%;
		margin-top: 2rem;
		vertical-align: top;

		.content { margin-right: 2rem; }

		&:nth-child(3n) .content { margin-right: 0; }

		@media all and (max-width: $break-medium) { 
			flex-basis: 50%;
			.content { margin-right: 0; }
			&:nth-child(odd) .content { margin-right: 2rem; }
		}

		@media all and (max-width: $break-tiny) {
			display: block;
			margin-bottom: 2rem; 
			&:nth-child(odd) .content { margin-right: 0; }
		}

		&:link,
		&:visited,
		&:active,
		&:hover { 
			color: $black-01;
			text-decoration: none;
		}

		&:hover img { opacity: 0.8; }

		&:hover .title { color: $black-02; }

		.content {
			display: flex;

			@media all and (max-width: $break-small) {  display: block; }

			img {
				@include transition-primary;
				display: inline-block;
				height: 84px;
				margin-right: 1rem;
				object-fit: cover;
				width: 34%;

				@media all and (max-width: $break-small) { 
					height: 120px;
					margin-right: 0;
					width: 100%;
				}
				
			}

			.title {
				@include label-medium;
				margin: 0.5rem 0 0 0;
			}

			.description {
				@include body-sans-small;
				color: $black-02;
				margin: 0;
			}
		} // .content
	}	// .photo-journal-preview
} // .photo-journal-list

.photo-gallery.misc{
	columns: 2 200px;
	column-gap: 2rem;
	margin-top: 4rem;

	@media all and (max-width: $break-small) { columns: 1; }

	figure {
		@include fade-in;
		animation-delay: 1s;
		display: inline-block;
		height: auto;
		margin: 1rem 0 2rem 0;
		padding: 1rem;
		width: 100%;

		&:nth-child(n+0) { margin-top: 2rem; }
		&:nth-child(n+2) { margin-top: 0; }

		&.narrower { padding: 1rem 4rem; }

		&.narrowest { padding: 1rem 6rem; }

		&.portrait { 
			@media all and (max-width: $break-medium) { 
				margin-left: auto;
				margin-right: auto;
				max-width: $body-content-width; 
			}
		}

		img {
			@include transition-primary;
			
			&:hover {
				cursor: zoom-in;
				opacity: 0.8;
			}
		}	

		@media all and (max-width: $break-medium) {
			display: block;
			margin: 2rem 0;
			padding: 1rem 0;
		}

		figcaption { 
			display: none;
			// margin: 0.5rem 0;
		}
	} // figure
} // .misc-photos-gallery


/* === Reading & Writing === */

.fav-reads {

	.genre-lists {
		@media all and (max-width: $break-medium) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.genre { 
		@include fade-in;
		display: inline-block;
		margin: 0 2rem 1rem 0;
		max-width: 24rem;
		vertical-align: top;

		&:nth-child(3n) { margin-right: 0; }

		li { 
			@include body-sans-small; 

			&.genre-label { 
				text-transform: uppercase;
		    font-size: 0.74rem;
		    font-weight: 500;
		    letter-spacing: 1px;
		    margin-top: 2rem;
			}

			&:nth-child(n+2) { margin: 0.5rem 1rem 0.5rem 0; }

			span { color: $black-02; }

		} // li
	} // ul
} // .fav-reads

.writing-list {
	margin-top: 4rem;

	a {
		border-bottom: 1px solid $black-05;
		display: block;
		text-decoration: none;

		&:nth-last-child(1){ border-bottom: none; }
		&:hover { 
			color: $black-02;

			// .preview-content img { opacity: 0.8;} 
		}
	}

	.writing-item {
		display: flex;
		justify-content: space-between;
		padding: 2rem 0;

		@media all and (max-width: $break-small) { display: block; }

		.preview-content {
			display: flex;

			figure { 
				margin: 0 2rem 0 0;
				min-width: 120px;
				width: 14%;

				img { 
					margin: 0 auto;
					@include transition-primary;
				}
			} // figure

			.meta {
				margin-top: 0.5rem;
				max-width: 700px;
				
				a:link,
				a:visited { text-decoration: none; }

				a:hover,
				a:active { color: $black-02; }

				.title { 
					@include label-medium; 
					margin-bottom: -0.75rem;
				}
			}
		} //.link

		.attribution {
			@include body-sans-extra-small;

			color: $black-02;
			margin-top: 0.5rem;
			text-align: right;
			width: 20%; 

			.external-link::after {
				background: url("/img/icon-arrow-gray.svg") 50% no-repeat;
				background-size: contain;
        content: "";
        float: right;
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-top: 4px;
      }

			p:nth-child(1) { margin-bottom: -0.5rem; }

			@media	all and (max-width: $break-small) {
				display: flex;
				margin: -1rem 0 0 120px;
				padding-left: 2rem;
				text-align: left;
				width: auto;

				.source { margin-right: 1rem;}
			}
		} // .attribution

	} // .writing-item
} // .writing-list


/* === About === */

.about-content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	@media all and (max-width: $break-small) { display: block; }

	figure { 
		@include fade-in;
		margin: 0;
		margin-top: 2.4rem; 
		width: 36%;

		@media all and (max-width: $break-medium) { 
			margin-bottom: 4rem;
			width: 58%; 

			img {
				height: 400px;
				object-fit: cover;
			}
		}

		@media all and (max-width: $break-small) { 
			width: 100%;
			img { object-position: 50% 0%; } 
		}

		@media all and (max-width: $break-tiny) { 
			margin-top: -2rem;
			width: 100%;
		}

		.profile-links li{
			display: inline-block;
			margin: 1rem 1rem 0 0;

			a:link,
			a:visited { color: $black-02; }

			a:hover,
			a:active { color: $black-03; }
		}
	} // figure

	.copy {
		padding-right: 4rem;
		max-width: 38rem;
		width: 90%;

		@media all and (max-width: $break-small) {
			padding-right: 0;
			width: 100%;
		}

		h2 {
			@include label-medium;

			margin-top: 4rem;

			&:nth-child(1) { margin-top: 0; }

		} // h2

		p { @include body-sans-medium; }
		
	} // .copy
}

