/* === Primary Nav === */

#nav {
	margin: 0 auto 4rem auto;
	max-width: 1080px;

	@media all and (min-width: $break-large) { max-width: 1280px; }

	a:link,
	a:visited,
	a:hover,
	a:active { text-decoration: none; }
}

.home {
	display: inline-block;
	margin: 0 7rem 0 -1rem;
	padding: 1rem;
	vertical-align: top;

	&:link, &:active { border-bottom: none; }

	@media all and (max-width: $break-small) {
		display: block;
		margin-right: 6rem;
	}

	@media all and (max-width: $break-tiny) { margin-right: 0;}

	h1 {
		 @include label-medium;
		 color: $black-02;
		 margin: 0;
	}
}

.nav-links {
	display: inline-block;
	vertical-align: top;

	@media all and (max-width: $break-small) { 
		display: block;
		margin-left: -1rem; 
	}

	li {
		@include label-medium;

		display: inline-block;
		list-style-type: none;
		margin: 1rem 0 0 0;

		@media all and (max-width: 540px) {
			display: block;
			// font-size: 1.1rem;
			margin: 0 0 1rem 0;
		}

		a {
			&:link, &:active { border-bottom: none; }

			&:hover { color: $black-02; }

	    padding: 1rem;
	    width: 100%;

	    /*&.design { &:hover { color: $red-02;} }
	    &.photography{ &:hover { color: #7d60a1;} }
	    &.writing{ &:hover { color: #489765;} }
	    &.about { &:hover { color: #368197;} }*/
			
			&.active {

				&.design {
					background: url("/img/nav/squiggle-red.svg") no-repeat center;
					color: $red-02;
				}

				&.photography {
					background: url("/img/nav/squiggle-purple.svg") no-repeat center;
					color: #7d60a1;
				}

				&.writing {
					background: url("/img/nav/squiggle-green.svg") no-repeat center;
					color: #489765;
				}

				&.about {
					background: url("/img/nav/squiggle-blue.svg") no-repeat center;
					color: #368197;
				}
			}
		} // a
	} // li
} // .nav-links


/* === Footer === */

footer {
	border-top: 1px solid $black-05;
	margin-top: 8rem;

	p {
		@include body-sans-small;
		color: $black-02;
		display: inline-block;

		& ~ p {
			float: right;
			@media all and (max-width: $break-small) { float: left; }
		}

		@media all and (max-width: $break-small) {
			display: block;
			margin-bottom: 0;
		}
	}
}

/* === FT Callout === */

.ft-callout {
	align-items: center;
	background-color: #fff;
	border: 1px solid $black-01;
	border-radius: 100%;
	display: flex;
	height: 8rem;
	justify-content: space-around;
	position: absolute;
	right: 64px;
	text-align: center;
	top: 32px;
	transform: rotate(8deg);
	width: 8rem;
	z-index: 1;

	@media all and (max-width: 880px) { 
		right: 40px;
		top: 130px;
	}

	@media all and (max-width: $break-small) { top: 32px; }

	@media all and (max-width: 660px) { display: none; }

	@media all and (max-width: 540px) { 
		display: flex;
		right: 24px;
		top: 32px;
	}

	&:hover {
		background-image: url('/img/photography/ft/ft-hover.jpg');
		background-size: 100%;
		//border: none;
		display: block;
		p { display: none }
	}

	div { vertical-align: middle; }

	p {
		border-bottom: none;
		line-height: 100%;
		margin: 0.5rem auto;


		&.new {
			color: $red-02;
			font-size: 0.64rem;
			font-weight: 700;
			letter-spacing: 1px;
			margin: 0.4rem 0 0.8rem 0;
			text-transform: uppercase;
		}

		&.title { font-size: 1.14rem; }

		&.subtitle { font-size: 0.86rem; }

		&.subsubtitle { font-size: 0.72rem}
	}

}


